.hidden {
    display: none;
}

html {
    background-color: #DCDCDC;
}

#doc {
    background-color: white;
    border-radius: 10px;
    font-family: georgia, sans-serif;
    font-size: large;
    line-height: 1.5em;
}

a:link, a:visited {
    color: black;
}

#bd {
    padding: 20px;
    min-height: 500px;
}

h1 {
    margin: 0;
}

#ft {
    background-color: #DCDCDC;
    text-align: center;
    padding: 1em;
    font-style: italic;
}

.text li {
    list-style: disc;
}

#hd span.sitename {
    font-size: 350%;
    font-family: courier, monospace;
    color: steelblue;
    letter-spacing: 0.2em;
    padding-left: 20px;
    float: left;
}

#primary-navigation {
    margin-left: 0;
    border-radius: 10px;
    float: left;
    clear: both;
    padding-left: 20px;
    display: inline-block;
}

#primary-navigation li {
    display: inline-block;
}

#primary-navigation a {
    float: left;
    font-size: 120%;
    background-color: steelblue;
    border-radius: 6px;
    padding: 0.25em 0.5em;
    border: 2px solid white;
    border-bottom: none;
    text-decoration: none;
    display: inline-block;
}

#primary-navigation a:link, #primary-navigation a:visited {
    color: white;
}

#primary-navigation a:hover {
    border: 2px solid black;
    border-bottom: none;
}

/* show which navigation link is active */
body.blog #primary-navigation .blog a,
body.about #primary-navigation .about a,
body.contact #primary-navigation .contact a {
    border: 2px solid black;
}

#hd .rss {
    display: inline-block;
    float: left;
}

ul.feeds {
    list-style-type: none;
}
/* http://www.w3schools.com/Css/css_list.asp */
ul.feeds li {
    background-image: url('icons/rss_16x16.png');
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 20px;
}

#post_data {
    font-size: 80%;
    font-style: italic;
    margin-left: 0;
}

#post_data li {
    display: inline;
}

/* style the comment section */
div#comments {
    font-size: 80%;
}

div#comments > ul {
    margin-left: 0;
}

/* styles for a list of comments */
.comments {
    margin-right: 0;
    margin-bottom: 0;
}

/* individual comment styles */
.comment {
    padding: 10px 0 0 10px;
    border-top: 2px solid lightgray;
    border-left: 4px solid lightgray;
    margin-top: 10px;
    margin-right: 0;
    overflow: auto;
}

.user {
    font-weight: bolder;
    color: steelblue;
}

.comment .date {
    font-style: italic;
    text-decoration: none;
}

.comment .text {
    clear: both;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 1em;
}

.comment .moderation {
    font-size: 90%;
    font-style: italic;
    color: steelblue;
    float: right;
}

.comment .moderation a:link, .comment .moderation a:visited {
    color: steelblue;
}

.comment .moderation .flagged {
    color: red;
}

.comment button#reply {
    color: steelblue;
    background-color: transparent;
    border: none;
    padding: 0;
    font-style: italic;
    cursor: pointer;
    font-size: 90%;
}

/************************************
 *  FORM STYLES
 ************************************/

/* debug */
/*input, textarea, button, span, form, .field {*/
    /*border: 1px solid red;*/
    /*outline: 1px solid red;*/
/*}*/

/*label {*/
    /*border: 1px solid yellow;*/
/*}*/

/* display form metadata in italics and slightly smaller text */
form span.error, form span.required-text, form span.optional-text {
    font-style: italic;
    font-size: 80%;
}

/* display form errors in red */
form span.error {
    color: red;
}

/* when a field has an error but a red border around the input */
.field.error textarea, .field.error input {
    border: 1px solid red;
}

.field.error input[type='checkbox'] {
    outline: 1px solid red;  /* border doesn't seem to work for checkboxes */
}

/* Horizontal form layout.  Each field is two columns.  In the first column is the field label followed by
   the (required) or (optional) string.  In the second column is the input area. Field errors are displayed in
   the second column, directly above the input area.  Note that the column widths will need to be tuned individually
   for each form. 25% and 75% seem to work well for the comment form.  In addition, when absolutely positioning the
   elements in the first column the top coordinates will vary with relative font sizes. Experiment with it.

   The form width is fixed at 30em and each sub-field consumes 100% of its parent's width.  At 30em the form's labels
   consume as much as possible of the smaller right column.  Any smaller and the label text would break into two lines
   and cause problems with absolutely positioned elements.
   */

form.comment {
    width: 40em;
    overflow: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.field {
    position: relative;  /* need to absolutely position a few of it's children */
    float: left;         /* float-to-fix-a-float */
    clear: both;         /* stack fields vertically */
    width: 100%;
    margin: 0.25em 0 !important; /* required for the alignment to work properly */
    padding: 0 !important;
}

label {
    padding: 0;
    margin: 0;
}

/* styles for checkbox fields */
.field.checkbox span.required-text, .field.checkbox span.optional-text {
    display: none;
}

.field.checkbox input {
    width: 15px;
    padding: 0;
    margin: 1% 2% 0 20%;  /* trying to vertically center the darn thing, it still drifts with font size */
    float: left;
    clear: left;
}

.field.checkbox label {
    float: left;
}

/* Styles for text fields */
/* style the second, larger column within a field */
.field.text input, .field.text textarea {
    margin-left: 20%;
    float: left;
    clear: left;
}

.field.text span.error {
    margin-left: 20%;
    float: left;
    clear: left;
}

.field.checkbox span.error {
    display: block;
}

/* when the checkbox label has an error, reverse the ordering of the label text and error text using
   relative positioning.  Oh god, this is horrible.  The 1em and 2em 'nudges' were determined experimentally and
   will have to be tuned whenever the relative difference in font sizes is modified. This also assumes that each of
   the error and label spans takes up exactly one line. */
.field.checkbox.error span.label {
    position: relative;
    top: 1em;
}

.field.checkbox.error span.error {
    position: relative;
    bottom: 2em;
}

/* Leave a 3% margin between columns */
.field.text span.label {
    position: absolute;
    text-align: right;
    right: 83%;
    top: 0;
}

.field.text span.required-text, .field.text span.optional-text {
    position: absolute;
    text-align: right;
    right: 83%;
    top: 1.6em;
}



/* Align the controls with the form input fields. */
form .controls {
    float: left;
    clear: both;
    width: 100%;
}

form .controls .submit-post {
    margin-left: 20%;
}

/* most of the form fields are required, so we'll hide the (required) in favour of (optional) */
form.comment span.required-text {
    visibility: hidden;
}

form.comment input {
    width: 50%;
}

form.comment textarea {
    width: 79%;
}