.hidden {
    display: none;
}

html {
    background-color: #DCDCDC;
}

#doc {
    background-color: white;
    border-radius: 10px;
}

a:link, a:visited {
    color: black;
}

#bd {
    padding: 20px;
}

h1 {
    margin: 0;
}

#ft {
    background-color: #DCDCDC;
    text-align: center;
    padding: 1em;
    font-style: italic;
}

.text li {
    list-style: disc;
}

#hd span.sitename {
    font-size: 350%;
    font-family: courier, monospace;
    color: steelblue;
    letter-spacing: 0.2em;
    padding-left: 20px
}

#primary-navigation {
    margin-left: 0;
    border-radius: 10px;
    float: left;
    width: 100%;
    padding-left: 20px;
}

#primary-navigation a {
    float: left;
    font-size: 120%;
    background-color: steelblue;
    border-radius: 6px;
    padding: 0.25em 0.5em;
    border: 2px solid white;
    border-bottom: none;
    text-decoration: none;
    display: inline-block;
}

#primary-navigation a:link, #primary-navigation a:visited {
    color: white;
}

#primary-navigation a:hover {
    border: 2px solid black;
    border-bottom: none;
}

#post_data {
    font-size: 80%;
    font-style: italic;
    margin-left: 0;
}

#post_data li {
    display: inline;
}

/* style the comment section */
div#comments {
    font-size: 80%;
}

div#comments > ul {
    margin-left: 0;
}

/* styles for a list of comments */
.comments {
    margin-right: 0;
    margin-bottom: 0;
}

/* individual comment styles */
.comment {
    padding: 10px 0 0px 10px;
    border-top: 2px solid lightgray;
    border-left: 4px solid lightgray;
    margin-top: 10px;
    margin-right: 0;
}

.comment #user {
    font-weight: bolder;
    color: steelblue;
}

.comment #date {
    font-style: italic;
    text-decoration: none;
}

.comment .text {
    clear: both;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 1em;
}

.comment button#reply {
    color: steelblue;
    background-color: transparent;
    border: none;
    padding: 0;
    font-style: italic;
    cursor: pointer;
    font-size: 90%;
}