/* skin css styles */

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    line-height: 1.3em;
}

h2 {
    color: black;
    font-family: 'Droid Serif', serif;
    font-size: 130%;
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

.error {
    color: red;
}

html {
    background: white; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30px, rgba(255,255,255,1) 30px) no-repeat; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(30px,rgba(0,0,0,1)), color-stop(30px,rgba(255,255,255,1))) no-repeat; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30px, rgba(255,255,255,1) 30px)) no-repeat; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30px), rgba(255,255,255,1) 30px) no-repeat; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30px), rgba(255,255,255,1) 30px) no-repeat; /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30px), rgba(255,255,255,1) 30px) no-repeat; /* W3C */
}

/*
An element with this class will stand out in reverse color.  Its background and font color choices are chosen for
boldness.
*/
.title-bar {
    color: white;
    background: black;
}

.title-bar a, .title-bar a:link, .title-bar a:visited {
    color: inherit;
}

/* LINK */
a:link, a:visited {
    color: black;
}

a.standard:link, a.standard:visited {
    color: blue;
}

/* BUTTON */
button {
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}

/* a button that looks like a link */
button.link {
    background:none;
    border: none;
    padding: 0;
    text-decoration: underline;
}

button.link.standard {
    color: blue;
}

/* A box with colors that signify 'action' */
.action {
    background: rgb(241,231,103); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,231,103,1)), color-stop(100%,rgba(254,182,69,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
    border-color: gray;
    cursor: pointer;
}

a.action {
    text-decoration: none;
}

button.wishlist {
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}

.primary-box {
    border: 1px solid darkgray;
    border-radius: 3px;
    background-color: #a4dcd1;
}

#primary-navigation li:hover {
    box-shadow: 3px 3px 3px black;
}

#secondary-navigation {
    background-color: black;
}

/* cart summary appearance when we're on the cart page */
body.cart div.cart-summary {
    box-shadow: 3px 3px 3px black;
}

.tabrow a, .tabcol a {
    text-decoration: none;
    color: inherit !important;
}

/* This controls the appearance of an unselected tab */
.tabrow li {
    border: 1px solid #AAA;
    background-color: black;
    color: white;
}

.tabrow li.selected {
    color: black;
}

/* underlines the entire tabrow */
.tabrow:after {
    border-bottom: none;
}

.tabcol {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.tabcol li {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

/* TEXT styles */

.text li {
    list-style: disc;
    margin-top: 0.2em;
}

.text p + p {
    padding-top: 1em;
}

.text ul, ul.text {
    margin-left: 1em;
}

/* search forms */

form#search fieldset button {
    outline: 1px solid black;
}

a.click-to-remove:hover {
    color: red !important;
}

/* errors */
.errorlist {
    border: 3px solid red;
    background-color: #ffcccc;
    padding: 8px;
}

ul.errorlist li {
    background-image: url('icons/error.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0 -3px;
    padding-left: 25px;
}

/* General FORM styles */

form input, form select, form textarea {
    border-radius: 0;
    padding: 4px 10px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
}

form textarea {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

/* display form metadata in italics and slightly smaller text */
form span.error, form span.required-text, form span.optional-text, form span.help-text {
    font-style: italic;
    font-size: smaller;
}

form .column2 {
    line-height: 1em;
    color: darkgray;
}

/* when a field has an error but a red border around the input */
.field.error textarea, .field.error input, .field.error.radio fieldset, .field.error select {
    border: 2px solid red;
}

.field.error input[type='checkbox'] {
    outline: 2px solid red;  /* border doesn't seem to work for checkboxes */
}

/* styles for checkbox fields */
.field.checkbox span.required-text, .field.checkbox span.optional-text {
    display: none;
}

.field.radio fieldset {
    font-size: smaller;
}

.field img.help {
    height: 25px;
    width: 25px;
    cursor: pointer;
    opacity: 0.75;    /* tone the image down a little bit */
}