{% load comment i18n %}
{% load form_tags %}

<form class="comment" action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}

    {#Render the hidden fields#}
    {% for field in form %}
        {% if field.is_hidden %}
            <div>{{ field }}</div>
        {% endif %}
    {% endfor %}

    {# render the honeypot #}
    <div class="field text" style="display:none;">
        {% field_label_tag form.honeypot %}{% aria_required_field form.honeypot %}
    </div>

    {# render the visible fields #}
    {% if not user.is_authenticated %}
        {# render name and email fields #}
        {% field form.name %}
        {% field form.comment %}
        {% field form.email_on_reply %}
        {% field form.email %}
    {% else %}
        {% field form.comment %}
        {% field form.email_on_reply %}
    {% endif %}

    {% comment %} The parent field was added to support threaded comments {% endcomment %}
    {% if node.id %}
        <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}"/>
    {% endif %}
    <div class="controls">
        <button type="submit" name="post" class="submit-post button action"><span>Post</span></button>
        <button type="submit" name="preview" class="submit-preview button action"><span>Preview</span></button>
    </div>
</form>