{% extends "blog/base_blog.html" %}
{% load i18n %}

{% block title %}{% trans "Mark a comment as spam" %}{% endblock %}

{% block content %}
  <h1>{% trans "Really mark this comment as spam?" %}</h1>
  <blockquote>{{ comment|linebreaks }}</blockquote>
  <form action="." method="post">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" id="next" /></div>{% endif %}
    <p class="submit">
      <input type="submit" name="submit" value="{% trans "Spam" %}" /> or <a href="{{ comment.get_absolute_url }}">cancel</a>
    </p>
  </form>
{% endblock %}
