{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Mark a comment as spam" %}{% endblock %}

{% block content %}
  <h2>{% trans "Really mark this comment as spam?" %}</h2>
    <blockquote>{{ comment|linebreaks }}</blockquote>
    <form action="." method="post">
        {% csrf_token %}
        {% if next %}<div><input type="hidden" name="next" value="{{ next }}" id="next" /></div>{% endif %}
        <div class="controls">
            <a class="action button" href="{{ comment.get_absolute_url }}"><span>Cancel</span></a>
            <button class="action button" type="submit" name="submit"><span>Mark as Spam</span></button>
        </div>
    </form>
{% endblock %}
