{% load lazysignup_tags %}
{% load extras %}

<div class="receipt">
    <h2>Order #{{ order.id }}</h2>

    <dl class="horizontal">
        <dt>Date:</dt>
        <dd>{{ order.date|date:"M j, Y" }}</dd>
        <dt>Status:</dt>
        <dd>{{ order.get_status_display }}</dd>
        <dt>Customer:</dt>
        <dd>{% if order.user|is_lazy_user %}guest{% else %}#{{ order.user.get_public_profile.id }}{% endif %}</dd>
    </dl>

    <div class="contact">
        <h3>Customer Information</h3>
        <div>
            {{ order.first_name }} {{ order.last_name }} <br>
            {{ order.email }} <br>
            {{ order.phone }} <br>
        </div>
    </div>
    <div class="shipping">
        <h3>Shipping Address</h3>
        <div>
            {% with order.shipping_address as address %}{% include "_address.html" %}{% endwith %}
        </div>
    </div>
    <div class="billing">
        <h3>Billing Address</h3>
        <div>
            {% with order.billing_address as address %}{% include "_address.html" %}{% endwith %}
        </div>
    </div>
    <div class="items">
        <table class="shopping-cart">
            <caption class="hidden">Order Breakdown</caption>
            <thead class="title-bar">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Details</th>
                <th class="right" scope="col">Item Price</th>
                <th class="right" scope="col">Quantity</th>
                <th class="right" scope="col">Item Total</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th class="right" colspan="4">
                    Merchandise Subtotal:
                </th>
                <th class="right">
                    {{ order.merchandise_total|currency }}
                </th>
            </tr>
            {% with order.gift_card_total as gc_total %}
                {% if gc_total > 0 %}
                    <tr>
                        <th class="right" colspan="4">
                            Gift Card Total:
                        </th>
                        <th class="right">
                            {{ gc_total|currency }}
                        </th>
                    </tr>
                {% endif %}
            {% endwith %}
            <tr>
                <th class="right" colspan="4">
                    + Shipping:
                </th>
                <th class="right">
                    {{ order.shipping_charge|currency }}
                </th>
            </tr>
            {% for tax in order.taxes.all %}
                <tr>
                    <th class="right" colspan="4">
                        + {{ tax.name }} ({{ tax.rate|floatformat }}%):
                    </th>
                    <th class="right">
                        {{ tax.total|currency }}
                    </th>
                </tr>
            {% endfor %}
            <tr>
                <th class="left" colspan="3"></th>
                <th class="right total-left">
                    Total Paid:
                </th>
                <th class="right total-right">
                    {{ order.total|currency }}
                </th>
            </tr>
            </tfoot>
            <tbody>
            {% if order.items.count %}
                {% for item in order.get_items %}
                    <tr>
                        <td>
                            {% if item.is_product %}
                                <a href="{{ item.get_absolute_url }}" class="cart">{{ item.item.product.name }}</a>
                            {% else %}
                                {{ item.name }}
                            {% endif %}
                        </td>
                        <td>
                            <dl class="horizontal">
                                {% for option in item.item.options.all %}
                                    <dt>{{ option.get_category_display|capfirst }}:</dt>
                                    <dd>{{ option.name|lower }}</dd>
                                {% endfor %}
                                <dt>SKU:</dt>
                                <dd>{{ item.sku }}</dd>
                            </dl>
                        </td>
                        <td class="right">
                            {{ item.price|currency }}
                        </td>
                        <td class="right">
                            {{ item.quantity }}
                        </td>
                        <td class="right">
                            {{ item.total|currency }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="left" colspan="4">
                        There are no items on this order
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="payment">
        <h3>Payment Details</h3>
        <dl class="horizontal">
            {% if order.creditcardpayment %}
                {% with order.creditcardpayment as credit %}
                    <dt>{{ credit.get_card_type_display }} xxxx xxxx xxxx {{ credit.token }}</dt>
                    <dd>{{ credit.amount|currency }}</dd>
                {% endwith %}
            {% endif %}
            {% for gc in order.gift_cards.all %}
                <dt>Gift Card xxxx xxxx xxxx {{ gc.card_number|slice:"-4:" }}</dt>
                <dd>{{ gc.amount|currency }}</dd>
            {% endfor %}
        </dl>
        <p class="subtle">Your credit card will be charged when your order is shipped.</p>
    </div>
</div>