{% extends "base_site.html" %}
{% load extras %}
{% load lazysignup_tags %}
{% load order_extras %}

{% block title %}{% if receipt %}Your Receipt{% else %}Order Detail{% endif %}{% endblock %}

{% block body_class %}receipt{% endblock %}

{% block body %}
    {% if receipt %}
        <p class="thank-you">Thank you for your Order!</p>
    {% endif %}
    {% order order %}
    {% if order.can_be_canceled %}
        <div class="actions"><a class="action" href="{% url order_cancel order.id %}">Cancel Order</a></div>
    {% endif %}


{% endblock %}