{% extends "_question.html" %}

{% block type %}answer{% endblock %}

{% block name %}Customer Service{% endblock %}

{% block profile %}{% endblock %}

{% block main-content %}
    <h4><a href="{{ content.get_absolute_url }}">Answer</a></h4>
    <p class="subtle whitespace">{{ content.comment }}</p>
{% endblock %}

{% block moderation %}
    {% if request.user.is_staff %}
        <a class="subtle" href="{% url delete_question content.id %}">delete</a>
        <a class="subtle" href="{% url edit_question content.id %}">edit</a>
    {% endif %}
{% endblock %}