{% load comment %}
{% load mptt_tags %}
{% load user_content %}

{% get_comment_list for product as comments %}

{% if comments %}
    <a class="subtle standard" href="{% url ask_question product.slug %}">Ask A Question</a>

    <ul class="threaded">
        {% recursetree comments %}
            <li class="thread">
                {% if not node.parent %}
                    {% question node %}
                {% else %}
                    {% answer node %}
                {% endif %}
                {% if not node.is_leaf_node %}
                    <ul class="threaded">{{ children }}</ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
{% else %}
    <p class="subtle">Be the first to <a class="standard" href="{% url ask_question product.slug %}">ask a question</a></p>
{% endif %}