{% extends "_user_content.html" %}

{% block anchor-id %}c{{ content.id }}{% endblock %}

{% block type %}question{% endblock %}

{% block date %}
    <span class="date">{{ content.submit_date|date:"M j, Y" }}</span>
{% endblock %}

{% block main-content %}
    <h4><a href="{{ content.get_absolute_url }}">Question:</a></h4>
    <p class="subtle whitespace">{{ content.comment }}</p>
{% endblock %}

{% block moderation %}
    {% if request.user == content.user %}
        <a class="subtle" href="{% url delete_question content.id %}">delete</a>
        <a class="subtle" href="{% url edit_question content.id %}">edit</a>
    {% elif request.user.is_staff %}
        <a class="subtle" href="{% url answer_question content.id %}">answer it!</a>
    {% endif %}
{% endblock %}