{% extends "base_question.html" %}
{% load user_content %}

{% block title %}Delete Question{% endblock %}

{% block main-header %}Delete Question{% endblock %}

{% block extra_breadcrumbs %}
    <a href="{% url show_question question.id %}">question #{{ question.id }}</a> >
    delete
{% endblock %}

{% block right-col %}
    <p>Are you sure you want to delete your question?</p>
    {% question question %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="controls">
            <a class="action" href="{% url show_question question.id %}">Cancel</a>
            <button class="action" type="submit" name="delete">Delete</button>
        </div>
    </form>
{% endblock %}