{% extends "base_question.html" %}
{% load user_content %}
{% load form_tags %}

{% block title %}Edit Question{% endblock %}

{% block main-header %}Edit Question{% endblock %}

{% block extra_breadcrumbs %}
    <a href="{% url show_question question.id %}">question #{{ question.id }}</a> >
    edit
{% endblock %}

{% block right-col %}
    {% form_errors form %}
    <form method="post" action="">
        {% csrf_token %}
        {% field form.comment %}
        <div class="controls">
            <button class="action" type="submit" name="edit">Save Changes</button>
        </div>
    </form>
{% endblock %}

{% block links %}
    <li><a class="subtle standard" href="{% url delete_question question.id %}">delete question</a></li>
{% endblock %}