{% if item.order_item %}
    <del>Purchased</del>
{% elif item.in_cart %}
    <a href="{% url show_cart %}"><em>In Your Cart</em></a><img class="tick" src="{{ STATIC_URL }}icons/tick.png" />
{% elif item.instance.quantity > 0 %}
    <form class="no-help" method="post">
        {% csrf_token %}
        <input type="hidden" name="instance_id" id="id_instance_id" value="{{ item.id }}" />
        <button class="action" type="submit" name="add-to-cart">Add to Cart</button>
    </form>
{% else %}
    <del>Out of Stock</del>
{% endif %}

