{% extends "base_catalogue.html" %}
{% load catalogue_extras %}
{% load extras %}
{% block title %}Shop Wish List{% endblock %}

{% block body_class %}shop-wishlist{% endblock %}

{% block body %}
    <h2>Shop Wish List | {{ wishlist.name }}</h2>
    {% if wishlist.description %}
        <p class="subtle">{{ wishlist.description }}</p>
    {% endif %}
    <span class="subtle metadata">- created on {{ wishlist.created_at|date }} by {% firstof wishlist.user.first_name wishlist.user.public_name wishlist.user.email %}</span>

    <table class="shopping-cart">
        <thead>
        <tr>
            <td>Item</td>
            <td>Price</td>
            <td>Notes</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% if items %}
            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ item.instance.get_absolute_url }}"><img src="{% product_img_url item.instance.product %}{{ item.instance.get_best_image.path }}" alt="{{ item }}"/></a>
                        <a href="{{ item.instance.get_absolute_url }}" class="cart">{{ item.instance.name }}</a>
                    </td>
                    <td class="right">
                        {% if item.instance.product.sale_price %}
                            <span class="sale-price">Sale: {{ item.instance.product.sale_price|currency }}</span><br>
                            <span class="old-price">Was: <del>{{ item.instance.product.price }}</del></span>
                        {% else %}
                            {{ item.instance.product.price|currency }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.note %}{{ item.note }}{% endif %}
                    </td>
                    <td>
                        {% if item.order_item %}
                            <del>Purchased</del>
                        {% elif item.in_cart %}
                            <a href="{% url show_cart %}"><em>In Your Cart</em></a><img class="tick" src="{{ STATIC_URL }}icons/tick.png" />
                        {% elif item.instance.quantity > 0 %}
                            {% include "_add_to_cart.html" %}
                        {% else %}
                            <del>Out of Stock</del>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="4">No Items</td></tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include "_add_to_cart.js" %}
{% endblock %}