{% extends "base_catalogue.html" %}
{% load catalogue_extras %}
{% load extras %}
{% block title %}Shop Wish List{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        shop wish lists > {{ wishlist.name }}
    </div>
    <h2>{{ wishlist.name }}</h2>
    <span class="subtle">created on {{ wishlist.created_at|date }} by {% firstof wishlist.user.first_name wishlist.user.public_name wishlist.user.email %}</span>

    <table class="shopping-cart">
        <thead>
        <tr>
            <td>Item</td>
            <td>Price</td>
            <td>Notes</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% if items %}
            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ item.instance.get_absolute_url }}"><img src="{% product_img_url item.instance.product %}{{ item.instance.get_best_image.path }}" alt="{{ item }}"/></a>
                        <a href="{{ item.instance.get_absolute_url }}" class="cart">{{ item.instance.name }}</a>
                    </td>
                    <td class="right">
                        {% if item.instance.product.sale_price %}
                            <span class="sale-price">Sale: {{ item.instance.product.sale_price|currency }}</span><br>
                            <span class="old-price">Was: <del>{{ item.instance.product.price }}</del></span>
                        {% else %}
                            {{ item.instance.product.price|currency }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.note %}{{ item.note }}{% endif %}
                    </td>
                    <td>
                        {% if item.in_cart %}
                            <em>In Cart</em><img class="tick" src="{{ STATIC_URL }}icons/tick.png" />
                        {% elif item.instance.quantity > 0 %}
                            <form class="no-help" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="instance_id" id="id_instance_id" value="{{ item.id }}" />
                                <button class="action" type="submit" name="add-to-cart">Add to Cart</button>
                            </form>
                        {% else %}
                            <del>Out of Stock</del>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="4">No Items</td></tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}