{% extends "base_wishlist.html" %}
{% load catalogue_extras %}
{% load extras %}
{% load form_tags %}

{% block title %}{{ wishlist.name }}{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        <a href="{% url account_wishlists %}">my wish lists</a> > {{ wishlist.name }}
    </div>
    <h2>{{ wishlist.name }} Wish List</h2>
    {% if wishlist.description %}<p class="subtle">{{ wishlist.description }}</p><br>{% endif %}
    <a class="standard subtle" href="{% url wishlist_edit wishlist.id %}">edit wish list</a>
    <a class="standard subtle" href="{% url wishlist_delete wishlist.id %}">delete wish list</a>
    <div class="social-media">
        <h3>Share with a friend ...</h3>
        <img class="icon" src="{{ STATIC_URL }}icons/email.png">
        <img class="icon" src="{{ STATIC_URL }}icons/googleplus.png">
        <img class="icon" src="{{ STATIC_URL }}icons/pinterest.png">
        <img class="icon" src="{{ STATIC_URL }}icons/twitter.png">
        <img class="icon" src="{{ STATIC_URL }}icons/facebook.png">
    </div>
    <table class="shopping-cart">
        <thead>
        <tr>
            <td>Item Name</td>
            <td>Details</td>
            <td>Price</td>
            <td>Notes</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% if items %}
            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ item.instance.get_absolute_url }}"><img src="{% product_img_url item.instance.product %}{{ item.instance.get_best_image.path }}" alt="{{ item }}"/></a>
                        <a href="{{ item.instance.get_absolute_url }}" class="cart">{{ item.instance.name }}</a>
                    </td>
                    <td>
                        <dl class="horizontal">
                            {% for option in item.instance.options.all %}
                                <dt>{{ option.get_category_display|capfirst }}:</dt>
                                <dd>{{ option.name|lower }}</dd>
                            {% endfor %}
                            <dt>SKU:</dt>
                            <dd>{{ item.instance.sku }}</dd>
                        </dl>
                    </td>
                    <td class="right">
                        {% if item.instance.product.sale_price %}
                            <span class="sale-price">Sale: {{ item.instance.product.sale_price|currency }}</span><br>
                            <span class="old-price">Was: <del>{{ item.instance.product.price }}</del></span>
                        {% else %}
                            {{ item.instance.product.price|currency }}
                        {% endif %}
                    </td>
                    <td class="note">
                        {% with item.note_form as form %}
                            <div class="note-form{% if form.is_bound %} bound{% endif %}">
                                {% form_errors form %}
                                <form method="post" class="no-help">
                                    {% csrf_token %}
                                    {{ form.instance_id }}
                                    {% field form.note %}
                                    <button class="action" type="submit" name="edit-note">{% if item.note %}Edit Note{% else %}Add Note{% endif %}</button>
                                </form>
                            </div>
                        {% endwith %}
                    </td>
                    <td>
                        <form class="no-help" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="instance_id" id="id_instance_id" value="{{ item.id }}" />
                            <button class="link" type="submit" name="remove">remove</button>
                        </form>
                    </td>
                    <td>
                        {% if item.instance.quantity > 0 %}
                            <form class="no-help" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="instance_id" id="id_instance_id" value="{{ item.instance.id }}" />
                                <button class="action" type="submit" name="add-to-cart">Add to Cart</button>
                            </form>
                        {% else %}
                            Out of Stock
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="6">No Items</td></tr>
        {% endif %}
        </tbody>
    </table>
    {% if items %}
        {% with items|last as last_added %}
            <a class="action" href="{{ last_added.instance.get_absolute_url }}">Continue Shopping</a>
        {% endwith %}
    {% else %}
        <a class="action" href="{% url catalogue_category '' %}">Start Shopping</a>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        YUI().use('node', 'event', 'node-event-simulate', function(Y) {
            Y.all('div.note-form').each(function(div) {
                if (div.hasClass('bound')) {
                    return;
                }
                // the form section is unbound, and should be hidden.
                var cell = div.ancestor('td');
                var note = div.one('textarea#id_note');

                if (cell && note) {
                    div.addClass('hidden');
                    var noteSpan = Y.Node.create('<span class="note">' + note.getHTML() + '</span>');
                    cell.appendChild(noteSpan);
                    var toggleText = '';
                    if (note.getHTML()) {
                        toggleText = 'edit';
                    } else {
                        toggleText = 'add a note';
                    }
                    var toggle = Y.Node.create('<a class="toggle subtle" href="">' + toggleText + '</a>');
                    cell.appendChild(toggle);

                    toggle.on('click', function(e) {
                        e.preventDefault();
                        noteSpan.toggleClass('hidden');
                        div.toggleClass('hidden');
                        if (noteSpan.hasClass('hidden')) {
                            toggle.setHTML('cancel');
                        } else {
                            toggle.setHTML(toggleText);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}