<p class="address">
    {% if address.name %}<span>{{ address.name }}</span>{% endif %}
    {% if address.phone_number %}<span>{{ address.phone_number }}</span>{% endif %}
    {% if address.line1 %}<span>{{ address.line1 }}</span>{% endif %}
    {% if address.line2 %}<span>{{ address.line2 }}</span>{% endif %}
    {% if address.city %}<span class="city">{{ address.city }}</span>{% endif %}
    {% if address.region %}<span class="region">{{ address.region }}</span>{% endif %}
    {% if address.post_code %}<span>{{ address.post_code }}</span>{% endif %}
    {% if address.country %}<span>{{ address.country.name }}</span>{% endif %}
</p>