{% load form_tags %}

<div class="field {% field_class field %}{% if field.errors %} error{% endif %}{% if class %} {{ class }}{% endif %}">
    <div class="column1">
        {% if field|is_checkbox %}
            {# easier to style if the input comes before the label #}
            {% aria_required_field field %} {% field_label_tag field %}
        {% elif field|is_radio %}
            {# radio selects have a unique structure #}
            <fieldset>
                <legend>{{ field.label }}</legend>
                {% field_label_tag field %}
                {% for choice in field %}
                    {{ choice.tag }}
                    <label class="choice" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                {% endfor %}
                <div class="radio-images">{% block radio-images %}{% endblock %}</div>
                <p><span class="chosen-radio"></span></p>
            </fieldset>
        {% else %}
            {% field_label_tag field %} {% aria_required_field field %}
        {% endif %}
    </div>
    <div class="column2">
        {% if field.help_text %}
            <span class="help-text">{% autoescape off %}{{ field.help_text}}{% endautoescape %}</span>
        {% endif %}
    </div>
</div>