{% extends "base_site.html" %}
{% load i18n form_tags %}

{% block title %}Reset Your Password{% endblock %}

{% block body %}
    {% if validlink %}
        <h2>Enter New Password</h2>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        {% form_errors form %}
        <form action="" method="post">
            {% csrf_token %}
            {% field form.new_password1 %}
            {% field form.new_password2 %}
            <div class="controls">
                <button class="button action" type="submit" name="submit"><span>Change my Password</span></button>
            </div>
        </form>

    {% else %}
        <h2>Password Reset Unsuccessful</h2>
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset <a href="{% url account_reset_password %}">here</a>.</p>
    {% endif %}
{% endblock %}