{% extends "base_site.html" %}
{% load form_tags %}

{% block title %}Request Password Reset{% endblock %}

{% block body %}
    <h2>Request a Password Reset</h2>
    <p class="subtle">
        Enter your email address below and we'll send you a link that you can use to reset your password.
    </p>
    {% form_errors form %}
    <form method="post" action="">
        {% csrf_token %}
        {% field form.email %}
        <div class="controls">
            <button class="button action" type="submit" name="submit"><span>Send Password Reset Email</span></button>
        </div>
    </form>
{% endblock %}