{% spaceless %}
    <ul id="secondary-navigation" class='checkout tabrow'>
        {% for step in steps %}
            <li {% if forloop.counter == current_step %}class="selected"{% endif %}>
                {% if forloop.counter0 > completed_step %}
                    <a class="disabled">{{ forloop.counter }}. {{ step.2 }}</a>
                {% else %}
                    <a href="{{ step.1 }}">{{ forloop.counter }}. {{ step.2 }}</a>
                {% endif %}
{#                {% if forloop.counter <= steps|length %}#}
{#                    <img src="{{ STATIC_URL }}icons/tick.png" {% if forloop.counter > completed_step %}class="invisible"{% endif %}/>#}
{#                {% endif %}#}
            </li>
        {% endfor %}
    </ul>
{% endspaceless %}