{% load form_tags %}

<div class='contact-info'>
    {% form_errors form %}
    <form method="post" action="" class="stacked">
        {% csrf_token %}
        <fieldset>
            <legend>
                {% firstof legend 'Contact Info'%}
            </legend>
            {% field form.first_name %}
            {% field form.last_name %}
            {% field form.email %}
            {% field form.email2 %}
            {% field form.contact_method %}
            {% field form.phone %}
        </fieldset>
        <div class="controls">
            <button class="yui3-button" name="submit">Save and Continue</button>
        </div>
    </form>
</div>