{% load extras %}

<div class="order-summary shadow-box">
    <h2>Order Summary</h2>
    <dl>
        <dt>Items in Cart:</dt>
        <dd>{{ item_count }}</dd>
        <dt>Subtotal:</dt>
        <dd>{{ order.merchandise_total|currency }}</dd>
        {% if order.shipping_charge != None %}
            <dt>Shipping:</dt>
            <dd>{% if order.shipping_charge > 0 %}
                    {{ order.shipping_charge|currency }}
                {% else %}
                    FREE
                {% endif %}
            </dd>

            {% for tax in order.tax_breakdown %}
                <dt>{{tax.0}} ({{tax.1}}%):</dt>
                <dd>{{ tax.2|currency }}</dd>
            {% endfor %}
            <dt>Estimated Total:</dt>
            <dd>{{ order.total|currency }}</dd>
        {% endif %}
    </dl>
</div>