{% load form_tags %}
{% load extras %}

<h2>2. Enter Payment Info</h2>
<table class="gift-cards{% if gift_cards %} shopping-cart{% endif %}">
    {% if gift_cards %}
        <thead class="title-bar">
        <tr>
            <th>Gift Card</th>
            <th></th>
            <th>Value</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th colspan="2" class="right">
                Gift Card Total:
            </th>
            <th class="right">
                {{ gc_total|currency }}
            </th>
        </tr>
        </tfoot>
    {% endif %}
    <tbody>
    {% if gift_cards %}
        {% for card, balance in gift_cards %}
            <tr>
                <td class="left">{{ card|slice:":4" }} {{ card|slice:"4:8" }} {{ card|slice:"8:12" }} {{ card|slice:"12:16" }}</td>
                <td>
                    <form method="post" class="remove-gift-card no-help">
                        {% csrf_token %}
                        <input type="hidden" id="id_number" name="number" value="{{ card }}">
                        <button type="submit" name="remove-gift-card" class="link">remove</button>
                    </form>
                </td>
                <td class="right">
                    {{ balance|currency }}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if balance_remaining > 0 %}
        <tr>
            <td colspan="3" class="left">
                {% form_errors gift_card_form unique=1 %}
                <form method="post" class="no-help add-gift-card single-field-pop{% if not gift_card_form.is_bound %} hide-initially{% endif %}" action="">
                    {% csrf_token %}
                    {% field gift_card_form.card_number %}
                    <button type="submit" class="action" name="add-gift-card">Redeem</button>
                </form>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>



{% if balance_remaining %}<h3>Credit Card ({{ balance_remaining|currency }})</h3>{% endif %}
{% form_errors credit_form %}
<form method="post" action="" class="stacked">
    {% csrf_token %}
    {% if balance_remaining %}
        {% field credit_form.card_type %}
        <p>
            {% field credit_form.card_number %}
            {% field credit_form.cvv %}
        </p>
        <fieldset>
            <legend>
                Expiry Date
            </legend>
            {% field credit_form.expire_month %}
            {% field credit_form.expire_year %}
        </fieldset>
    {% endif %}
    <div class="controls">
        <button class="action" name="submit">Submit Order</button>
    </div>
</form>