{% extends 'base_hd_ft.html' %}
{% load checkout_tags %}

{% block title %}{{ current_step_name }} | Checkout{% endblock %}

{% block body %}
    {% include "_checkout_navigation.html" %}
    <ul class="checkout-utils">
        <a href="{% url cancel %}">cancel checkout</a>
        <a href="{% url show_cart %}">edit shopping cart</a>
    </ul>
    <div class='form-content'>
        {% block order_summary %}{% order_summary order %}{% endblock %}
        {% block forms %}{% endblock forms %}
    </div>
{% endblock %}