{% extends 'base_site.html' %}
{% load checkout_tags %}
{% load lazysignup_tags %}

{% block body_class %}checkout{% endblock %}

{% block title %}{{ current_step_name }} | Checkout{% endblock %}
{% block banner %}{{ block.super }} <span class="checkout">{% if not request.user.is_authenticated or request.user|is_lazy_user %}guest {% endif %}checkout</span>{% endblock %}
{% block navigation %}{% endblock %}
{% block secondary-nav-title %}<h2>Step {{ current_step }} of {{ steps|length }}</h2>{% endblock %}
{% block secondary-navigation %}
    {% include "_checkout_navigation.html" %}
{% endblock %}

{% block extra-utilities %}
    <ul class="checkout-utils">
        <a href="{% url checkout_cancel %}">cancel checkout</a>
        <a href="{% url show_cart %}">edit shopping cart</a>
    </ul>
{% endblock %}

{% block search-bar %}{% endblock %}
{% block cart-summary %}{% endblock %}

{% block body %}
    <div class="sidebar">
        {% block order_summary %}{% order_summary order %}{% endblock %}
    </div>
    <div class="main">
        {% block forms %}{% endblock forms %}
    </div>
{% endblock %}