{% extends 'base_checkout.html' %}

{% load form_tags %}
{% block forms %}
    <h2>Enter Billing Address</h2>

    <form method="post" action="" class="billing">
        {% csrf_token %}
        <div class="hidden same-as-shipping">
            {% field form.same_as_shipping %}
        </div>
        {{ form.address_id }}
        {% field form.name %}
        {% field form.line1 %}
        {% field form.line2 %}
        {% field form.city %}
        {% field form.region %}
        {% field form.post_code %}
        {% field form.country %}

        <div class="controls">
            <button class="action" type="submit" name="submit">Save and Continue</button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% if shipping_address %}
        {% include "billing_form.js" %}
    {% endif %}
{% endblock %}