{% extends 'base_checkout.html' %}
{% load form_tags %}

{% block forms %}
    {% if addresses %}
        {% if using_address %}
            {% with using_address as address %}
                <div class="chosen-address{% if form.is_bound %} hide-initially{% endif %}">
                    <h2>Confirm {{ address_type|capfirst }} Address</h2>
                    <div class="address-preview">
                        {% include "_address.html" %}
                        <form method="post" action="" class="stacked">
                            {% csrf_token %}
                            {{ address.form.address_id }}
                            <div class="controls">
                                <button type="submit" name="use" class="yui3-button">OK</button>
                                <button type="submit" name="delete" class="link">delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endwith %}
        {% endif %}

        {% if addresses|length >= 1 %}
            <div class="choose-address{% if using_address and not form.is_bound %} hide-initially{% endif %}">
                <ul>
                    <h2>Choose A Saved Address</h2>
                    {% for address in addresses %}
                        <li class="address-preview">
                            {% form_errors address.form %}
                            {% include "_address.html" %}
                            <form method="post" action="" class="stacked">
                                {% csrf_token %}
                                {{ address.form.address_id }}
                                <div class="controls">
                                    <button type="submit" name="use" class="yui3-button">Use</button>
                                    <button type="submit" name="delete" class="link">delete</button>
                                </div>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

    {% form_errors form %}
    <form method="post" action="" class="stacked address-form{% if using_address and not form.is_bound %} hide-initially{% endif %}">
        {% csrf_token %}
        {% block form_fields %}{% endblock %}
        <div class="controls">
            <button class="yui3-button" name="submit">Save and Continue</button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        YUI().use('node', function(Y) {
            // initially hide the edit-contact into form
            Y.all('.hide-initially').each(function(f) {
                f.addClass('hidden');
            });

            var chosen_address_div = Y.one('div.chosen-address');
            if (chosen_address_div != null) {
                // only add the special 'edit' and 'cancel' buttons if there is a chosen address div
                chosen_address_div.all('form .controls').each(function(f) {
                    f.prepend("<button type='button' class='script edit yui3-button'>Change</button>");
                });

                Y.all('form.address-form .controls').each(function(f) {
                    f.prepend("<button type='button' class='script cancel yui3-button'>Cancel</button>");
                });
            }

            // toggle form visibility when our custom script buttons are pressed
            Y.delegate('click', function(e) {
                var chosen_address_div = Y.one('div.chosen-address');
                var choose_an_address = Y.one('div.choose-address');
                var new_form = Y.one('form.address-form');

                if (e.currentTarget.hasClass('edit')) {
                    chosen_address_div.addClass('hidden')
                    if (choose_an_address != null) {
                        choose_an_address.removeClass('hidden');
                    }
                    new_form.removeClass('hidden');
                } else {
                    // must be the cancel button
                    if (choose_an_address != null) {
                        choose_an_address.addClass('hidden');
                    }
                    new_form.addClass('hidden');
                    chosen_address_div.removeClass('hidden')
                }
            }, document, 'button.script');
        });
    </script>
{% endblock %}