{% extends 'base_checkout.html' %}
{% load form_tags %}
{% load lazysignup_tags %}

{% block forms %}

<div class='contact-info'>
    <h2>Enter Contact Info</h2>
    {% form_errors form %}
    <form method="post" action="" class="stacked">
        {% csrf_token %}
        {% field form.first_name %}
        {% field form.last_name %}
        {% if request.user.is_authenticated and not request.user|is_lazy_user and request.user.email %}
            {% readonly_field form.email %}
        {% else %}
            {% field form.email %}
            {% field form.email2 %}
        {% endif %}
        {% field form.phone %}
        {% field form.contact_method %}
        {% field form.on_mailing_list %}
        <div class="controls">
            <button class="action" name="edit">Save and Continue</button>
        </div>
    </form>
</div>
{% endblock %}