{% extends 'base_checkout.html' %}

{% load form_tags %}
{% load extras %}

{% block order_summary %}{% endblock %}

{% block forms %}
    <div class="review-order">
        <h2>1. Review Your Order</h2>
        <div class="contact">
            <h3>Customer Information</h3>
            <div>
            {{ order.first_name }} {{ order.last_name }} <br>
            {{ order.email }} <br>
            {{ order.phone }} <br>
             <a class="standard subtle" href="{% url checkout_contact %}">(edit)</a>
            </div>
        </div>
        <div class="shipping">
            <h3>Shipping Address</h3>
            <div>
            {% with order.shipping_address as address %}{% include "_address.html" %}{% endwith %}
            <a class="standard subtle" href="{% url checkout_shipping %}">(edit)</a>
            </div>
        </div>
        <div class="billing">
            <h3>Billing Address</h3>
            <div>
            {% with order.billing_address as address %}{% include "_address.html" %}{% endwith %}
            <a class="standard subtle" href="{% url checkout_billing %}">(edit)</a>
            </div>
        </div>
        <div class="items">
            <table class="shopping-cart">
                <caption class="hidden">Order Breakdown</caption>
                <thead class="title-bar">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Details</th>
                    <th class="right" scope="col">Item Price</th>
                    <th class="right" scope="col">Quantity</th>
                    <th class="right" scope="col">Item Total</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th class="right" colspan="4">
                        Subtotal:
                    </th>
                    <th class="right">
                        {{ order.merchandise_total|currency }}
                    </th>
                </tr>
                <tr>
                    <th class="right" colspan="4">
                        + Shipping:
                    </th>
                    <th class="right">
                        {{ order.shipping_charge|currency }}
                    </th>
                </tr>
                {% for tax_name, tax_rate, total in order.tax_breakdown %}
                    <tr>
                        <th class="right" colspan="4">
                            + {{ tax_name }} ({{ tax_rate }}%):
                        </th>
                        <th class="right">
                            {{ total|currency }}
                        </th>
                    </tr>
                {% endfor %}
                <tr>
                    <th class="left" colspan="3"><a class="subtle standard" href="{% url show_cart %}">(edit cart)</a></th>
                    <th class="right total-left">
                        Total Due:
                    </th>
                    <th class="right total-right">
                        {{ order.total|currency }}
                    </th>
                </tr>
                </tfoot>
                <tbody>
                {% if order.items %}
                    {% for item in order.items %}
                        <tr>
                            <td>
                                <a href="{{ item.get_absolute_url }}"><img src="{{ STATIC_URL }}products/thumbnails/example.jpg" alt="{{ item.item.product.name }}"/></a>
                                <a href="{{ item.get_absolute_url }}" class="cart">{{ item.item.product.name }}</a>
                            </td>
                            <td>
                                <dl class="horizontal">
                                    {% for option in item.item.options.all %}
                                        <dt>{{ option.get_category_display|capfirst }}:</dt>
                                        <dd>{{ option.name|lower }}</dd>
                                    {% endfor %}
                                    <dt>SKU:</dt>
                                    <dd>{{ item.sku }}</dd>
                                </dl>
                            </td>
                            <td class="right">
                                {{ item.price|currency }}
                            </td>
                            <td class="right">
                                {{ item.quantity }}
                            </td>
                            <td class="right">
                                {{ item.total|currency }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="left" colspan="4">
                            There are no items on this order
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class='payment-info'>
        <h2>2. Enter Payment Info</h2>
        {% if gift_cards %}
            <h3>Gift Cards</h3>
            <dl class="horizontal">
                {% for card,balance in gift_cards %}
                    <dt>{{ card }}</dt>
                    <dd>{{ balance|currency }}</dd>
                    <dd>
                        <form method="post" class="remove-gift-card no-help subtle">
                            {% csrf_token %}
                            <input type="hidden" id="id_number" name="number" value="{{ card }}">
                            <button type="submit" name="remove-gift-card" class="link">(remove)</button>
                        </form>
                    </dd>
                {% endfor %}
            </dl>
        {% endif %}
        {% if can_add_gift_card %}
            <div class="needed-for-javascript">
            <div class="add-gift-card{% if not gift_card_form.is_bound %} hide-initially{% endif %}">
                {% form_errors gift_card_form %}
                <form method="post" class="no-help" action="">
                    {% csrf_token %}
                    {% field gift_card_form.card_number %}
                    <button type="submit" class="action" name="add-gift-card">Redeem</button>
                </form>
            </div>
            </div>
        {% endif %}


        <span class="balance">Balance to be applied to credit card:  {{ order.total|currency }}</span>
        {% form_errors credit_form %}
        <form method="post" action="" class="stacked">
            {% csrf_token %}
                {% field credit_form.card_type %}
                <p>
                {% field credit_form.card_number %}
                {% field credit_form.cvv %}
                </p>
                <fieldset>
                    <legend>
                        Expiry Date
                    </legend>
                    {% field credit_form.expire_month %}
                    {% field credit_form.expire_year %}
                </fieldset>
            <div class="controls">
                <button class="action" name="submit">Submit Order</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        YUI().use('node', 'event', function(Y) {
            var form_div = Y.one('div.add-gift-card');
            if (form_div && form_div.hasClass('hidden')) {
                // give the user a way to toggle form visibility
                var node = Y.Node.create('<span class="toggle-gift-card subtle">{% if gift_cards %}redeem another gift card{% else %}redeem a gift card{% endif %}</span>');
                node.on("click", function(e) {
                     form_div.toggleClass('hidden');
                });
                form_div.ancestor().prepend(node);
            }
        });
    </script>
{% endblock %}