{% extends 'base_checkout.html' %}

{% load form_tags %}

{% block order_summary %}{% endblock %}

{% block forms %}
    <div class="review-order">
        REVIEW ORDER TBD
    </div>

    <div class='payment-info'>
        {% form_errors form %}
        <form method="post" action="" class="stacked">
            {% csrf_token %}
            {% comment %}Hidden form fields{% endcomment %}
            {{ form.total }}
            <fieldset>
                <legend>
                    Payment Info
                </legend>
                {% field form.first_name %}
                {% field form.last_name %}
                {% field form.card_type %}
                {% field form.card_number %}
                {% field form.cvv %}
                <fieldset>
                    <legend>
                        Expiry Date
                    </legend>
                    {% field form.expire_month %}
                    {% field form.expire_year %}
                </fieldset>
            </fieldset>
            <div class="controls">
                <button class="yui3-button" name="submit">Submit Order</button>
            </div>
        </form>
    </div>
{% endblock %}