{% extends 'base_checkout.html' %}
{% load form_tags %}

{% block forms %}

    <h2 class="form-h">Choose Shipping Destination</h2>
    <form class="ship-to no-help single-field-pop" action="">
        {% field select_form.ship_to %}
        <button type="submit" class="button action"><span>{% if selected_nickname %}Change{% else %}Choose{% endif %}</span></button>
    </form>

    {% if form %}
    {% if selected_nickname == "New Address" %}
        <h2 class="form-h">Add a New Shipping Address</h2>
    {% else %}
        <h2 class="form-h">{% if edit %}Edit{% else %}Enter{% endif %} Shipping Address for '{{ selected_nickname }}'</h2>
    {% endif %}
    {% form_errors form %}
    <form method="post" action="" class="shipping">
        {% csrf_token %}
        {{ form.address_id }}
        {{ form.country }}
        {% if selected_nickname == "New Address" %}
            {% field form.nickname %}
        {% else %}
            <input type="hidden" name="nickname" value="{{ form.nickname.value }}"/>
        {% endif %}
        {% field form.name %}
        {% field form.phone %}
        {% field form.line1 %}
        {% field form.line2 %}
        {% field form.city %}
        {% field form.region %}
        {% field form.post_code %}
        <div class="controls">
            <button type="submit" name="submit" class="button action"><span>Save and Continue</span></button>
        </div>
    </form>
    {% endif %}
{% endblock %}