{% extends 'choose_address.html' %}
{% load form_tags %}

{% block form_fields %}
    {{ form.country }}
    <fieldset>
        <legend>
            {% if addresses %}
                New Shipping Address
            {% else %}
                Shipping Address (Canada Only)
            {% endif %}
        </legend>
        {% field form.name %}
        {% field form.phone %}
        {% field form.line1 %}
        {% field form.line2 %}
        {% field form.city %}
        {% field form.region %}
        {% field form.post_code %}
    </fieldset>
{% endblock %}