{% extends "base_site.html" %}

{% block secondary-navigation %}
    {% spaceless %}
        <ul id="secondary-navigation" class="tabrow {% spaceless %}{% block root-category %}none-selected{% endblock %}{% endspaceless %}">
            <li class="orders"><a href="{% url account_orders %}">Orders</a></li>
            <li class="personal"><a href="{% url account_personal %}">Personal Info</a></li>
            <li class="wishlists"><a href="{% url account_wishlists %}">Wish Lists</a></li>
            <li class="reviews"><a href="{% url account_reviews %}">Reviews</a></li>
        </ul>
    {% endspaceless %}
{% endblock %}

{% block secondary-nav-title %}<h2>Manage Your Account</h2>{% endblock %}