{% extends "base_site.html" %}
{% load form_tags %}

{% block title %}Create Your Public Profile{% endblock %}

{% block body %}
    <h2>Create Your Public Profile</h2>
    <p class="subtle">
        This is the information that will appear beside<br> any <em>public</em> content you contribute to our site,<br>
        such as <em>product reviews</em>.
    </p>
    {% form_errors form %}
    <form method=post class="create-public-profile" action="{% if next %}?next={{ next }}{% endif %}">
        {% csrf_token %}
        {% field form.username %}
        {% field form.location %}
        {% field form.description %}
        <div class="controls">
            <button class="action" type="submit" name="submit">Create Profile</button>
        </div>
    </form>
{% endblock %}