{% extends "base_site.html" %}
{% load form_tags %}
{% load lazysignup_tags %}

{% block title %}Create Account{% endblock %}

{% block body %}
    <h2>Create an Account</h2>
    <span class="subtle">(Already registered? <a class="standard" href="{% url login_or_create_account %}">Log In</a>)</span>
    {% form_errors create_form %}
    <form method="post" action="{% if next %}?next={{ next }}{% endif %}" class="create-account">
        {% csrf_token %}
        {% with request.user|is_lazy_user as lazy %}
            {% if lazy and request.user.email %}
                {% readonly_field create_form.email %}
            {% else %}
                {% field create_form.email %}
                {% field create_form.email2 %}
            {% endif %}
            {% field create_form.password1 %}
            {% field create_form.password2 %}
            {% field create_form.on_mailing_list %}
        {% endwith %}
        <div class="controls">
            <button type="submit" name="create" class="action">{% block create-button %}Create Account{% endblock %}</button>
        </div>
    </form>
{% endblock %}