{% extends "base_account.html" %}
{% load form_tags %}

{% block title %}Edit Contact Info{% endblock %}

{% block root-category %}personal{% endblock %}

{% block body %}
    <h2>Edit Contact Information</h2>
    {% form_errors form %}
    <form method="post" action="">
        {% csrf_token %}
        {% readonly_field form.email %}
        {% field form.first_name %}
        {% field form.last_name %}
        {% field form.phone %}
        {% field form.contact_method %}
        <div class="controls">
            <button type="submit" name="submit" class="action button"><span>Save Changes</span></button>
        </div>
    </form>
{% endblock %}