{% extends 'base_site.html' %}
{% load form_tags %}

{% block title %}Log In or Create Account{% endblock %}

{% block body %}
    <div class='login'>
        <h2>Returning Users</h2>
        {% form_errors auth_form %}
        <form method="post" action="." class="stacked">
            {% csrf_token %}
            {% field auth_form.email %}
            {% field auth_form.password %}
            <div class="controls">
                <button type="submit" name="login" class="yui3-button">Log In</button>
            </div>
        </form>
    </div>
    <div class='create-account'>
        <h2>New User? Create an Account</h2>
        {% form_errors create_form %}
        <form method="post" action="." class="stacked">
            {% csrf_token %}
            {% field create_form.first_name %}
            {% field create_form.last_name %}
            {% field create_form.email %}
            {% field create_form.password1 %}
            {% field create_form.password2 %}
            <div class="controls">
                <button type="submit" name="create" class="yui3-button">Create Account</button>
            </div>
        </form>
    </div>
{% endblock %}