{% extends "base_account.html" %}

{% block title %}Personal Info{% endblock %}

{% block root-category %}personal{% endblock %}

{% block body %}
    <h2>Contact Information</h2>
    {% include "_contact_info.html" %}
    <a href="{% url account_change_password %}">change your password</a>
    <h2>Public Profile</h2>
    {% if public_profile %}
        {% include "_public_profile.html" %}
    {% else %}
        <a href="{% url create_public_profile %}?next={{ request.path }}">create your public profile</a>
    {% endif %}
    <h2>Shipping Addresses</h2>
    {% if customer_profile %}
        {% for address in customer_profile.shipping_addresses.all %}
            {% include "_address.html" %}
        {% endfor %}
    {% else %}
        TODO - add a shipping address
    {% endif %}
    <h2>Billing Addresses</h2>
    {% if customer_profile %}
        {% for address in customer_profile.billing_addresses.all %}
            {% include "_address.html" %}
        {% endfor %}
    {% else %}
        TODO - add a billing address
    {% endif %}
{% endblock %}