{% extends "base_account.html" %}

{% block title %}Personal Info{% endblock %}

{% block root-category %}personal{% endblock %}

{% block body %}

    <div class="tabview">
        <ul class="tabcol">
            <li id="account" class="tab selected"><a class="tabview follow" href="#account">Account</a></li>
            <li id="contact" class="tab"><a class="tabview follow" href="#contact">Contact Information</a></li>
            <li id="public" class="tab"><a class="tabview follow" href="#public">Public Profile</a></li>
            <li id="shipping" class="tab"><a class="tabview follow" href="#shipping">Shipping Addresses</a></li>
            <li id="billing" class="tab"><a class="tabview follow" href="#billing">Billing Address</a></li>
        </ul>

        <div class="views">
            <div class="view" id="account">
                <h2>Account</h2>
                <ul>
                    <li><a class="subtle standard" href="{% url account_change_email %}">change your email address</a></li>
                    <li><a class="subtle standard" href="{% url account_change_password %}">change your password</a></li>
                </ul>
            </div>
            <div class="view hide-initially" id="contact">
                <h2>Contact Information</h2>
                <a class="subtle standard" href="{% url account_edit_contact_info %}">edit contact info</a>
                {% include "_contact_info.html" %}
            </div>
            <div class="view hide-initially" id="public">
                <h2>Public Profile</h2>
                {% if public_profile %}
                    <a class="subtle standard" href="{% url edit_public_profile %}">edit public profile</a>
                    {% include "_public_profile.html" %}
                {% else %}
                    <a href="{% url create_public_profile %}?next={{ request.path }}">create your public profile</a>
                {% endif %}
            </div>
            <div class="view hide-initially" id="shipping">
                <h2>Shipping Addresses</h2>
                <a class="subtle standard" href="{% url add_shipping_address %}">+ add new address</a><br>
                {% for address in shipping_addresses %}
                    <div class="address">
                        <h3 class="nickname">{{ address.nickname }}</h3>
                        {% include "_address.html" %}
                        <a class="subtle standard" href="{% url edit_shipping_address address.id %}">edit</a>
                        <a class="subtle standard" href="{% url delete_shipping_address address.id %}">delete</a>
                    </div>
                {% endfor %}
            </div>
            <div class="view hide-initially" id="billing">

                <h2>Billing Address</h2>
                {% if not billing_address %}<a class="subtle standard" href="{% url add_billing_address %}">+ add billing address</a><br>{% endif %}
                {% if billing_address %}
                    {% with billing_address as address %}
                        <div class="address">
                            {% include "_address.html" %}
                            <a class="subtle standard" href="">edit</a>
                            <a class="subtle standard" href="{% url delete_billing_address address.id %}">delete</a>
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}