{% extends "base_account.html" %}
{% load user_content %}
{% load review_extras %}
{% load catalogue_extras %}

{% block title %}Reviews{% endblock %}

{% block root-category %}reviews{% endblock %}

{% block body %}
    {% if needing_review %}
        <div class="needing-review">
            <h2>Products Awaiting My Review <span class="subtle">({{ needing_review.count }})</span></h2>
            {% for product in needing_review %}
                {% review_thumb product %}
            {% endfor %}
        </div>
    {% endif %}

    {% if reviews %}
        <div class="your-reviews">
            <h2>My Reviews <span class="subtle">({{ reviews.count }})</span></h2>
            <table class="reviews">
                <thead class="title-bar">
                <tr>
                    <th>Product</th>
                    <th>Review</th>
                </tr>
                </thead>

                {% for review in reviews %}
                    <tr>
                        <td>
                            {% thumb review.product %}
                        </td>
                        <td>
                            {% review review %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if not reviews and not needing_review %}
        <p>To write a product review, navigate to the product you wish to review in our catalogue and then click on the
           "write a review" link.
        </p>
    {% endif %}

{% endblock %}