{% extends "base_account.html" %}

{% block title %}Wish Lists{% endblock %}

{% block root-category %}wishlists{% endblock %}

{% block body %}
    <h2>My Wish Lists</h2>
    <table class="shopping-cart">
        <thead>
            <tr>
                <td>Name</td>
                <td>Created On</td>
                <td>Items</td>
                <td>Purchased</td>
            </tr>
        </thead>
        <tbody>
            {% if wishlists %}
                {% for wl in wishlists %}
                    <tr>
                        <td><a href="{{ wl.get_absolute_url }}">{{ wl.name }}</a></td>
                        <td>{{ wl.created_at|date }}</td>
                        <td>{{ wl.items.all|length }}</td>
                        <td>{{ wl.get_purchased_items|length }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="4">No Wish Lists</td></tr>
            {% endif %}
        </tbody>
    </table>
    {% if wishlists %}
        <a class="subtle standard" href="{% url wishlist_create %}">create a new wish list</a>
    {% else %}
        <a class="subtle standard" href="{% url wishlist_create %}">create your first wish list</a>
    {% endif %}
{% endblock %}