{% extends "base_site.html" %}

{% block body_class %}blog{% endblock %}
{% block secondary-nav-title %}<h2>Blog</h2>{% endblock %}

{% block secondary-navigation %}
    {% spaceless %}
        <ul id="secondary-navigation" class="tabrow {% spaceless %}{% block root-category %}{{ root_category }}{% endblock %}{% endspaceless %}">
            <li class="most-recent"><a href="{% url index %}">Latest</a></li>
            <li class="archive"><a href="{% url archive %}">Archives</a></li>
            <li class="feeds"><a href="{% url feeds %}"><img class="rss" src="{{ STATIC_URL }}icons/rss_64x64.png">Subscribe</a></li>
        </ul>
    {% endspaceless %}
{% endblock %}

{% block body %}
    {% block content %}{% endblock %}
    {% block related_content %}{% endblock %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
            function syncCommentFormFields(form) {
                var email_on_reply = form.one('input#id_email_on_reply').get("checked");
                var email_field = null;

                if (form.one('input#id_email') != null) {
                    email_field = form.one('input#id_email').ancestor('div.field');
                }

                if (email_field != null) {
                    var label = email_field.one('label');
                    var input = email_field.one('input');
                    // replace optional-text with required-text
                    var optional_text = label.one('span.optional-text');
                    var required_text = label.one('span.required-text');

                    if (email_on_reply) {
                        if (optional_text != null) {
                            optional_text.replace("<span class='required-text'>(required)</span>");
                        }
                        input.setAttribute("aria-required", "true");
                        input.setAttribute("required", "");
                        email_field.removeClass("hidden");
                    } else {
                        if (required_text != null) {
                            required_text.replace("<span class='optional-text'>(optional)</span>");
                        }
                        input.removeAttribute("aria-required");
                        input.removeAttribute("required");
                        email_field.addClass("hidden");
                        // if we're hiding the input field we have to clear any text that is inside of it, otherwise
                        // the hidden text could cause a form validation error :-(
                        input.setAttribute("value", "");
                    }
                }
            }

            // comment forms - make the 'email' field visible & required when the 'email_on_reply' box is checked
            Y.delegate('click', function(e) {
                var form = e.currentTarget.ancestor('form');
                syncCommentFormFields(form);
            }, document, 'form.comment input#id_email_on_reply');

            Y.all('form.comment').each(function(f) {
                syncCommentFormFields(f);
            });
{% endblock %}