{% extends "base_hd_ft.html" %}

{% block header %}
    {% block banner %}
        <span class="sitename">arthurcode</span>
    {% endblock %}

    {% block navigation %}
        <ul id="primary-navigation">
            <li class="blog"><a href="{% url index %}">Blog</a></li>
            <li class="about"><a href="{% url about %}">About Me</a></li>
            <li class="contact"><a href="{% url contact %}">Contact</a></li>
        </ul>
    {% endblock %}

    <a class="rss" href="{% url feeds %}"><img src="{{ STATIC_URL }}icons/rss_64x64.png" alt="subscribe to my rss or atom feed" title="Subscribe to my rss or atom feed"></a>
{% endblock %}
{% block body %}
    <div class="yui3-u-2-3">
        {% block content %}{% endblock %}
    </div>
    <div class="yui3-u-1-3">
        {% block sidebar %}
            <ul>
                <li><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54_grey.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a></li>
                {% url archive as archive_url%}
                <li><a href="{{ archive_url }}">archive</a></li>
            </ul>
            {% block related_content %}{% endblock %}
        {% endblock %}
    </div>
{% endblock %}
{% block footer %}
    copyright &copy 2013 www.arthurcode.com
    {% if user.is_staff %}<a href="{% url admin:index %}">admin</a>{% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        YUI().use('node', 'node-event-simulate', function(Y) {

            function syncCommentFormFields(form) {
                var email_on_reply = form.one('input#id_email_on_reply').get("checked");
                var email_field = null;

                if (form.one('input#id_email') != null) {
                    email_field = form.one('input#id_email').ancestor('div.field');
                }

                if (email_field != null) {
                    var label = email_field.one('label');
                    var input = email_field.one('input');
                    // replace optional-text with required-text
                    var optional_text = label.one('span.optional-text');
                    var required_text = label.one('span.required-text');

                    if (email_on_reply) {
                        if (optional_text != null) {
                            optional_text.replace("<span class='required-text'>(required)</span>");
                        }
                        input.setAttribute("aria-required", "true");
                        input.setAttribute("required", "");
                        email_field.removeClass("hidden");
                    } else {
                        if (required_text != null) {
                            required_text.replace("<span class='optional-text'>(optional)</span>");
                        }
                        input.removeAttribute("aria-required");
                        input.removeAttribute("required");
                        email_field.addClass("hidden");
                        // if we're hiding the input field we have to clear any text that is inside of it, otherwise
                        // the hidden text could cause a form validation error :-(
                        input.setAttribute("value", "");
                    }
                }
            }

            // comment forms - make the 'email' field visible & required when the 'email_on_reply' box is checked
            Y.delegate('click', function(e) {
                var form = e.currentTarget.ancestor('form');
                syncCommentFormFields(form);
            }, document, 'form.comment input#id_email_on_reply');

            Y.all('form.comment').each(function(f) {
                syncCommentFormFields(f);
            });

        });
    </script>
{% endblock %}