{% load comments %}
{% load mptt_tags %}
{% load blog_extras %}

<div id="comments">
    {% get_comment_list for post as comments %}
    {% get_comment_count for post as comment_count %}

    <h2>Comments ({{ comment_count }})</h2>
    {% if comments %}
        <ul class="comments">
            {% recursetree comments %}
                <li class="comment">
                    <a name="{% comment_anchor node %}"></a>
                    <span id="user">{{ node.user_name }}</span>
                    <a id="date" href="{% comment_permalink node %}">{{ node.submit_date|timesince }} ago</a>
                    <div class="text">{{ node.comment }}</div>
                    {% if post.is_commenting_enabled %}
                        <button id="reply">Reply</button>
                        {% render_comment_form for post %}
                    {% endif %}
                    {% if not node.is_leaf_node %}
                        <ul class="comments">{{ children }}</ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    {% endif %}
    {% if post.is_commenting_enabled %}
        Please leave a comment
        {% render_comment_form for post %}
    {% else %}
        Comments are disabled
    {% endif %}
</div>

<script type="text/javascript">
    YUI().use('node', function(Y) {
        // initially hide all comment reply forms
        Y.all('.comment form').each(function(f) {
            f.addClass('hidden');
        });

        // toggle the reply form visibility when the reply button is hit
        Y.delegate('click', function(e) {
            var form = e.currentTarget.next('form');
            form.toggleClass('hidden');
        }, document, 'button#reply');
    });
</script>