{% extends "blog/base_blog.html" %}
{% load blog_extras %}

{% block content %}
    <h1>{{ post.title }}</h1>
    {% if post %}
        <ul>
            <li>{{ post.get_author_name }}</li>
            <li>{{ post.pub_date|date:"F j, Y" }}</li>
            {% if post.mod_date != post.pub_date %}
                <li>last-modified {{ post.mod_date|date:"F j, Y" }}</li>
            {% endif %}
            {% with post.get_absolute_url as post_url %}
                {% if post_url != request.get_full_path %}
                    <li><a href="{{ post_url }}">permalink</a></li>
                {% endif %}
            {% endwith %}
        </ul>
        {% autoescape off %}
            <div>{{ post.body }}</div>
        {% endautoescape %}

        <div>
            {% load comments %}
            {% load mptt_tags %}
            {% get_comment_list for post as comments %}
            {% get_comment_count for post as comment_count %}

            <h2>Comments</h2>
            <ul>
                <li>({{ comment_count }})</li>
            </ul>
            {% if comments %}
                <ul>
                    {% recursetree comments %}
                        <li>
                            <a name="{% comment_anchor node %}"></a>
                            {{ node.comment }}
                            {{ node.user }}
                            {{ node.submit_date|timesince }} ago
                            <a href="{% comment_permalink node %}">#</a>
                            {% render_comment_form for post %}
                        </li>

                        {% if not node.is_leaf_node %}
                            <ul>{{ children }}</ul>
                        {% endif %}
                    {% endrecursetree %}
                </ul>
            {% endif %}
            Please leave a comment
            {% render_comment_form for post %}
        </div>
    {% else %}
        No post to display
    {% endif %}
{% endblock %}