{% extends "blog/base_blog.html" %}

{% block content %}
    {% if object_list %}
        <h1>All Posts for {{ month|date:"F Y" }}</h1>
        <ul>
            {% for post in object_list %}
                <a href="{{ post.get_absolute_url }}"><li>{{ post.pub_date|date:"F j, Y" }}: {{ post.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No posts for {{ month|date:"F Y" }}</h1>
    {% endif %}

    <p>
        {% if previous_month %}
            {% url month_archive previous_month.year previous_month.month as link %}
            Previous Month: <a href="{{ link }}">{{ previous_month|date:"F Y" }}</a>
        {% endif %}
        {% if next_month %}
            {% url month_archive next_month.year next_month.month as link %}
            Next Month: <a href="{{ link }}">{{ next_month|date:"F Y" }}</a>
        {% endif %}
    </p>
{% endblock %}