{% extends "blog/base_blog.html" %}

{% block content %}
    <h1>{{ post.title }}</h1>
    {% if post %}
        <ul>
            <li>{{ post.get_author_name }}</li>
            <li>{{ post.pub_date|date:"F j, Y" }}</li>
            <li>last-modified {{ post.mod_date|date:"F j, Y" }}</li>
            {% with post.get_url as post_url %}
                {% if post_url != request.get_full_path %}
                    <li><a href="{{ post_url }}">permalink</a></li>
                {% endif %}
            {% endwith %}
        </ul>
        <div>{{ post.body }}</div>
    {% else %}
        No post to display
    {% endif %}
{% endblock %}