{% load comment %}
{% load mptt_tags %}

<div id="comments">
    {% get_comment_list for post as comments %}

    <h2>Comments ({{ comments|length }})</h2>
    {% if comments %}
        <ul class="comments">
            {% recursetree comments %}
                <li class="comment">
                    <a name="c{{ node.id }}"></a>
                    <span class="user">{{ node.user_name }}</span>
                    <a class="date" href="#c{{ node.id }}">{{ node.submit_date|timesince }} ago</a>
                    <div class="text">
                        {% if not node.is_removed %}
                            {{ node.comment }}
                        {% else %}
                            <em>(Comment has been removed)</em>
                        {% endif %}
                    </div>
                    {% with node as comment %}
                        {% include 'blog/post_comment_moderation_opts.html' %}
                    {% endwith %}
                    {% if post.is_commenting_enabled and not node.is_removed %}
                        <button id="reply">Reply</button>
                        {% render_comment_form for post %}
                    {% endif %}
                    {% if not node.is_leaf_node %}
                        <ul class="comments">{{ children }}</ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    {% endif %}
</div>