{% extends "blog/base_blog.html" %}

{% comment %}
Reference: https://docs.djangoproject.com/en/dev/ref/class-based-views/generic-date-based/
{% endcomment %}

{% block content %}
    <ul>
        {% for year,posts in breakdown_by_year.iteritems %}
            <li><em>{{ year }}</em></li>
            <ul>
                {% for post in posts %}
                    <dl class="horizontal">
                        <dt>{{ post.pub_date }}:</dt>
                        <dd><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></dd>
                    </dl>
                {% endfor %}
            </ul>
        {% empty %}
            <li>No posts in the archive</li>
        {% endfor %}
    </ul>
{% endblock %}