{% extends "blog/base_blog.html" %}

{% block content %}
    <h1>{{ post.title }}</h1>
    {% if post %}
        <ul>
            <li>{{ post.get_author_name }}</li>
            <li>{{ post.pub_date|date:"F j, Y" }}</li>
            {% if post.mod_date != post.pub_date %}
                <li>last-modified {{ post.mod_date|date:"F j, Y" }}</li>
            {% endif %}
            {% with post.get_url as post_url %}
                {% if post_url != request.get_full_path %}
                    <li><a href="{{ post_url }}">permalink</a></li>
                {% endif %}
            {% endwith %}
        </ul>
        <div>{{ post.body }}</div>

        <div>
            {% load comments %}
            {% load mptt_tags %}
            {% get_comment_list for post as comments %}

            {% if comments %}
                {% recursetree comments %}
                    <a name="c{{ node.id }}"></a>
                    {{ node.comment }}
                    {{ node.user }}
                    {{ node.submit_date|timesince }} ago
                    <a href="{{ post.get_url }}#c{{ node.id }}">#</a>
                    {% render_comment_form for post %}

                    {% if not node.is_leaf_node %}
                        {{ children }}
                    {% endif %}
                {% endrecursetree %}
            {% endif %}
            {% render_comment_form for post %}
        </div>
    {% else %}
        No post to display
    {% endif %}
{% endblock %}