{% extends "blog/base_blog.html" %}

{% comment %}
Reference: https://docs.djangoproject.com/en/dev/ref/class-based-views/generic-date-based/
{% endcomment %}

{% block content %}
    <ul>
        {% for year,posts in breakdown_by_year.iteritems %}
            <li>{{ year }}</li>
            <ul>
                {% for post in posts %}
                    <li><a href="{{ post.get_url }}">{{ post.pub_date }}: {{ post.title }}</a></li>
                {% endfor %}
            </ul>
        {% empty %}
            <li>No posts in the archive</li>
        {% endfor %}
    </ul>
{% endblock %}