{% extends "base_site.html" %}

{% load extras %}
{% load form_tags %}

{% block title %}Shopping Cart{% endblock %}

{% block body_class %}cart{% endblock %}

{% block body %}

    <h2>Your Shopping Cart</h2>

    {% if checkout_errors %}
        <div class="error-list">
            <h2>You cannot checkout until you correct the following problems:</h2>
            <ul>
                {% for error in checkout_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <table class="shopping-cart">
        <caption class="hidden">Your Shopping Cart</caption>
        <thead class="title-bar">
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Details</th>
            <th class="right" scope="col">Item Price</th>
            <th class="right" scope="col">Quantity</th>
            <th></th>
            <th></th>
            <th class="right" scope="col">Item Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th class="right" colspan="6">
                Cart Subtotal:
            </th>
            <th class="right">
                {{ cart_subtotal|currency }}
            </th>
        </tr>
        {% if cart_items %}
            <tr>
                <th colspan="7">
                    <form method="post" action="." class="checkout no-help">
                        {% csrf_token %}
                        <button type="submit" name="Checkout" class="action">Checkout Now</button>
                    </form>
                    {% if continue_shopping_url %}
                        <a class="action continue-shopping" href="{{ continue_shopping_url }}">Continue Shopping</a>
                    {% endif %}
                </th>
            </tr>
        {% endif %}
        </tfoot>
        <tbody>
        {% if cart_items %}
            {% for item in cart_items %}
                <tr>
                    <td>
                        <a href="{{ item.get_absolute_url }}"><img src="{{ STATIC_URL }}{{ item.item.get_best_image.path }}" alt="{{ item }}"/></a>
                        <a href="{{ item.get_absolute_url }}" class="cart">{{ item.name }}</a>
                    </td>
                    <td>
                        <dl class="horizontal">
                            {% for option in item.item.options.all %}
                                <dt>{{ option.get_category_display|capfirst }}:</dt>
                                <dd>{{ option.name|lower }}</dd>
                            {% endfor %}
                            <dt>SKU:</dt>
                            <dd>{{ item.sku }}</dd>
                        </dl>
                    </td>
                    <td class="right">
                        {% if item.sale_price %}
                            <span class="sale-price">Sale: {{ item.sale_price|currency }}</span><br>
                            <span class="old-price">Was: <del>{{ item.price }}</del></span>
                        {% else %}
                            {{ item.price|currency }}
                        {% endif %}
                    </td>
                    <td class="right">
                        {% with item.check_stock as error %}
                            {% if error %}
                                <div class=error-list>
                                    {{ error }}
                                </div>
                            {% endif %}
                        {% endwith %}
                        {{ item.quantity }}
                    </td>
                    <td>
                        {% form_errors item.update_form unique=1 %}
                        <form method="post" action="." class="update-cart no-help">
                            {% csrf_token %}
                            {{ item.update_form.item_id }}
                            {% field item.update_form.quantity %}
                            <button type="submit" name="Update" class="link">update quantity</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="." class="cart no-help">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                            <button type="submit" name="Remove" class="link">remove</button>
                        </form>
                    </td>
                    <td class="right">
                        {{ item.total|currency }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="left" colspan="7">
                    your cart is empty
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        YUI().use('node', 'custom', function(Y) {
            Y.all('table .field.error').each(function(field) {
                Y.Custom.popupFieldError(field);
            });
        });
    </script>
{% endblock %}