{% extends "base_catalogue.html" %}

{% load extras %}
{% load form_tags %}

{% block title %}Shopping Cart{% endblock %}

{% block body %}

    {% if checkout_errors %}
        <div class="error-list">
            <h2>You cannot checkout until you correct the following problems:</h2>
            <ul>
                {% for error in checkout_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <table class="shopping-cart">
        <caption>Your Shopping Cart</caption>
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th></th>
            <th></th>
            <th scope="col" class="right">Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th class="right" colspan="5">
                Cart Subtotal:
            </th>
            <th class="right">
                {{ cart_subtotal|currency }}
            </th>
        </tr>
        {% if cart_items %}
            <tr>
                <th class="right" colspan="6">
                    <form method="post" action="." class="checkout">
                        {% csrf_token %}
                        <button type="submit" name="Checkout" class="yui3-button">Checkout Now</button>
                    </form>
                </th>
            </tr>
        {% endif %}
        </tfoot>
        <tbody>
        {% if cart_items %}
            {% for item in cart_items %}
                <tr>
                    <td>
                        <a href="{{ item.get_absolute_url }}"><img src="{{ STATIC_URL }}products/thumbnails/example.jpg" alt="{{ item.name }}"/></a>
                        <a href="{{ item.get_absolute_url }}" class="cart">{{ item.name }}</a>
                    </td>
                    <td>
                        {% if item.sale_price %}
                            <span class="sale-price">Sale: {{ item.sale_price|currency }}</span><br>
                            <span class="old-price">Was: <del>{{ item.price }}</del></span>
                        {% else %}
                            {{ item.price|currency }}
                        {% endif %}
                    </td>
                    <td class="right">
                        {% with item.check_stock as error %}
                            {% if error %}
                                <div class=error-list>
                                    {{ error }}
                                </div>
                            {% endif %}
                        {% endwith %}
                        {{ item.quantity }}
                    </td>
                    <td class="right">
                        <form method="post" action="." class="update-cart">
                            {% csrf_token %}
                            {{ item.update_form.item_id }}
                            {% field_label_tag item.update_form.quantity %} {% aria_required_field item.update_form.quantity %}
                            <button type="submit" name="Update" class="link">Update Quantity</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="." class="cart">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                            <button type="submit" name="Remove" class="link">Remove</button>
                        </form>
                    </td>
                    <td class="right">
                        {{ item.total|currency }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">
                    Your cart is empty
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if continue_shopping_url %}
        <a href="{{ continue_shopping_url }}">Continue Shopping</a>
    {% endif %}
{% endblock %}