{% extends "base_site.html" %}
{% load form_tags %}
{% load user_content %}

{% block title %}Delete Review{% endblock %}

{% block body %}
    <h2>Delete the Following Review?</h2>
    <div class="review">
        {% review review %}
    </div>

    {% form_errors form %}
    <form method="post" action="">
        {% csrf_token %}
        {% field form.email_author %}
        {% field form.reason %}
        <div class="controls">
            <button type="submit" name="no" class="action">Cancel</button>
            <button type="submit" name="yes" class="action">Delete Review</button>
        </div>
    </form>
{% endblock %}