{% extends "base_catalogue_review.html" %}
{% load form_tags %}
{% load user_content %}

{% block title %}Delete Review{% endblock %}

{% block main-header %}Delete the Following Review?{% endblock %}

{% block extra_breadcrumbs %}admin delete{% endblock %}

{% block right-col %}
    <a class="subtle standard" href="{{ review.get_absolute_url }}">click here to cancel</a>
    <div class="review">
        {% review review %}
    </div>

    {% form_errors form %}
    <form method="post" action="">
        {% csrf_token %}
        {% field form.email_author %}
        {% field form.reason %}
        <div class="controls">
            <button type="submit" name="yes" class="action">Delete Review</button>
        </div>
    </form>
{% endblock %}