{% extends 'base_catalogue.html' %}
{% load ratings %}
{% load urls %}

{% block body_class %}reviewing products{% endblock %}

{% block body %}

    <div class="breadcrumbs">
        <a href="{% go_to_category '' %}">All Products</a> >
        {% for crumb in product.get_breadcrumbs %}
            <a href="{% go_to_category crumb.slug %}">{{ crumb.name }}</a> >
        {% endfor %}
        <a href="{% go_to_product product %}">{{ product.name }}</a> >
        {% block extra_breadcrumbs %}
            review
        {% endblock %}
    </div>

    <div class="left-col subtle">
        <a href="{% url catalogue_product product.slug %}"><img src="{{ STATIC_URL }}products/example.jpg"></a>
        {% with product.get_rating as rating %}
            {% if rating %}
                Average rating: {% rating rating %} ({{ rating|floatformat }} out of 5)
            {% else %}
                {% rating rating %} (this product has not yet been rated)
            {% endif %}
        {% endwith %}
    </div>

    <div class="right-col">
        <h2>{% block main-header %}{% endblock %} | {{ product.name }}</h2>
        {% block right-col %}
        {% endblock %}

        <ul class="links">
            {% block links %}
            {% endblock %}
        </ul>
    </div>

    {% if needing_review %}
        <div class="needing-review">
            <h3>Other Products Awaiting Your Review</h3>
            <ul>
                {% for to_review in needing_review %}
                    <li>
                        <div>
                            <img src="{{ STATIC_URL }}products/example.jpg"/>
                            <a href="{% url create_product_review product.slug %}">{{ product.name }}</a>
                            <a class="action" href="{% url create_product_review product.slug %}">Review</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}