{% extends 'base_catalogue.html' %}
{% load ratings %}
{% load urls %}
{% load review_extras %}
{% load catalogue_extras %}

{% block body_class %}reviewing products{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        <a href="{% go_to_category '' %}">All Products</a> >
        {% for crumb in product.get_breadcrumbs %}
            <a href="{% go_to_category crumb.slug %}">{{ crumb.name }}</a> >
        {% endfor %}
        <a href="{% go_to_product product %}">{{ product.name }}</a> >
        {% block extra_breadcrumbs %}
        {% endblock %}
    </div>

    <div class="columns-2">
        <div class="column-1">
            {% thumb product %}
        </div>

        <div class="column-2">
            <h2>{% block main-header %}{% endblock %} | {{ product.name }}</h2>
            {% block right-col %}
            {% endblock %}

            <ul class="links">
                {% block links %}
                {% endblock %}
            </ul>
        </div>
    </div>

{% endblock %}