{% extends 'base_review.html' %}

{% load form_tags %}
{% load user_content %}

{% block title %}Delete Your Review{% endblock %}

{% block main-header %}Delete Your Review{% endblock %}

{% block right-col %}
    <p>Are you sure you want to delete your review?</p>
    <div class="review">
        {% review review %}
    </div>

    <form method="post" action="">
        {% csrf_token %}
        <div class="controls">
            <button type="submit" name="no" class="action">Cancel</button>
            <button type="submit" name="yes" class="action">Delete Review</button>
        </div>
    </form>
{% endblock %}