{% extends "base_catalogue.html" %}
{% load form_tags %}
{% load user_content %}

{% block title %}Report an Inappropriate Review{% endblock %}

{% block body_class %}flag-review{% endblock %}

{% block body %}
    <h2>Report the following review as inappropriate?</h2>
    <div class="review">{% review review %}</div>

    {% form_errors form %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="controls">
            <button type="submit" name="no" class="action">Cancel</button>
            <button type="submit" name="yes" class="action">Yes</button>
        </div>
    </form>
{% endblock %}