{% extends "base_review.html" %}
{% load form_tags %}
{% load user_content %}

{% block title %}Report an Inappropriate Review{% endblock %}

{% block main-header %}Report Review{% endblock %}

{% block extra_breadcrumbs %}
    report review
{% endblock %}

{% block right-col %}
    <h3>Report the following review as inappropriate?</h3>
    <div class="review">{% review review %}</div>

    {% form_errors form %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="controls">
            <button class="action" name="no" type="submit">Cancel</button>
            <button type="submit" name="yes" class="action">Yes</button>
        </div>
    </form>
{% endblock %}