{% extends "base_review.html" %}
{% load form_tags %}
{% load ratings %}

{% block title %}Write A Review{% endblock %}

{% block main-header %}Write A Review{% endblock %}

{% block extra_breadcrumbs %}add a review{% endblock %}

{% block right-col %}
    {% form_errors form %}
    <form class="review {% block form-class %}{% endblock %}" method="post" action="">
        {% csrf_token %}
        {% field form.rating %}
        {% field form.summary %}
        {% field form.review %}
        <div class="controls">
            {% block form-controls %}<button class="action" type="submit" name="submit">Submit Review</button>{% endblock %}
        </div>
    </form>
{% endblock %}