{% extends 'base_hd_ft.html' %}
{% load lazysignup_tags %}

{% load cart_tags %}

{% block header %}
    <div id="topbar">
        {% block topbar %}
            <img class="flag" src="{{ STATIC_URL }}icons/canada_flag_32.png">
            <span class="canadian">Proudly Canadian</span>
            <span class="contact">1-800-664-9741</span>
            <a class="account" href="{% url account_orders %}">my account</a>
            {% if user.is_authenticated and not user|is_lazy_user %}
                <a class="logout" href="{% url logout %}?next={{ request.path }}">log out</a>
                <span class="welcome">Welcome, {% firstof user.public_name user.first_name user.email %}</span>
            {% else %}
                <a class="login" href="{% url login_or_create_account %}">log in</a>
            {% endif %}
        {% endblock %}
    </div>

    {% block banner %}
        <a href="{% url home %}">
        <img class="logo" src="{{ STATIC_URL }}icons/green_tree_icon.jpg">
        <span class="sitename">The Toy Tree</span>
        </a>
    {% endblock %}

    {% block navigation %}
        <ul id="primary-navigation">
            <li class="products"><a href="{% url catalogue_category '' %}">Shop</a></li>
            <li class="help"><a>FAQ</a></li>
            <li class="contact"><a href="{% url contact %}">Contact</a></li>
            <li class="blog"><a href="{% url index %}">Blog</a></li>
        </ul>
    {% endblock %}

    <div class="header-bar">
        {% block cart-summary %}
            <div class="cart-summary">
                {% cart_summary request %}
            </div>
        {% endblock %}
        {% block search-bar %}
            <form id="search" method="post" action="{% url product_search %}">
                {% csrf_token %}
                <input type="hidden" name="from" id="id_from" value={{ request.path|urlencode }}>
                <fieldset>
                    <div class="field text">
                        <label class="hidden" for="id_q">Search Text</label>
                        <input type="text" name="q" id="id_q" required aria-required="true"><button type="submit" name="search" class="action">Search</button>
                    </div>
                </fieldset>
            </form>
        {% endblock %}
        {% block extra-utilities %}{% endblock %}
        {% block secondary-nav-title%}{% endblock %}
    </div>
    {% block secondary-navigation %}{% endblock %}
{% endblock %}

{% block footer %}
    <a href="{% url home %}">home</a>
    <a href="{% url about %}">about us</a>
    <span class='copyright'>copyright &copy 2013 www.thetoytree.com</span>
    {% if user.is_staff %}<a href="{% url admin:index %}">admin</a>{% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        YUI().use('node', 'event', 'custom', function(Y) {

            // use interactive help
            Y.all('.field span.help-text').each(function(help_span) {
                help_span.addClass('hidden'); // TODO: should be visible to screen readers but not occupy space in DOM
                var help_text = help_span.getHTML();
                var help_node = Y.Node.create('<img class="help" src="{{ STATIC_URL }}icons/help.png">');
                var field = help_span.ancestor('.field');
                field.appendChild(help_node);
            });


            // monkey with the positioning of the error messages in form fields.  As it is they are great for screen
            // readers but difficult to style
            Y.all('.field.error').each(function(field) {
                var errorSpan = field.one('label span.error');
                if (!errorSpan) {
                    return;
                }
                var newErrorSpan = Y.Node.create('<span class="error">' + errorSpan.getHTML() + '</span>');
                field.appendChild(newErrorSpan);
                errorSpan.addClass('hidden');  // TODO: should be visible to screen readers but not occupy space in DOM
            });




            // add some simple client-side validation to the search bar
            var searchButton = Y.one("form#search button");
            if (searchButton) {
                searchButton.on("click", function(e) {
                    var searchBox = Y.one("form#search input#id_q");
                    var searchText = searchBox.get("value").trim();
                    if (searchText.length <= 2) {
                        // invalid search query
                        e.preventDefault();
                        var message = "";
                        if (searchText.length == 0) {
                            message = "Enter a search word or phrase";
                        } else {
                            message = "Type at least 3 characters in the search box";
                        }
                        var field = searchBox.ancestor(".field");
                        Y.Custom.setFieldError(field, message);
                    }
                });
            }
        });
    </script>
{% endblock %}