{% extends 'base_hd_ft.html' %}
{% load lazysignup_tags %}
{% load cart_tags %}
{% load cache %}

{% block header %}
    <div id="topbar" class="title-bar">
        {% block topbar %}
            <img class="flag" src="{{ STATIC_URL }}icons/canada_flag_32.png">
            <span class="canadian">Proudly Canadian</span>
            <span class="contact">1-800-664-9741</span>
            {% block account_links %}
                {% cache 1000 account request.user.username %}
                    <a class="wishlists" href="{% url account_wishlists %}">my wish lists</a>
                    <a class="account" href="{% url account_personal %}">my account</a>
                    {% if user.is_authenticated and not user|is_lazy_user %}
                        <a class="logout" href="{% url logout %}?next={% url home %}">log out</a>
                        <span class="welcome">Welcome, {% firstof user.public_name user.first_name user.email %}</span>
                    {% else %}
                        <a class="login" href="{% url login_or_create_account %}">log in</a>
                    {% endif %}
                {% endcache %}
            {% endblock %}
        {% endblock %}
    </div>

    {% block banner %}
        <a href="{% url home %}">
        <img class="logo" src="{{ STATIC_URL }}icons/brainstand.png">
        </a>
    {% endblock %}

    {% block navigation %}
        <ul id="primary-navigation" class="buttonrow">
            <li class="products primary-box"><a href="{% url catalogue_category '' %}">Shop</a></li>
            <li class="help primary-box"><a>FAQ</a></li>
            <li class="contact primary-box"><a href="{% url contact %}">Contact</a></li>
            <li class="blog primary-box"><a href="{% url index %}">Blog</a></li>
        </ul>
    {% endblock %}

    <div id="search-bar">
        {% block cart-summary %}
            <div class="cart-summary">
                {% cart_summary request %}
            </div>
        {% endblock %}
        {% block search-bar %}
            <form id="search" class="no-help" method="post" action="{% url product_search %}">
                {% csrf_token %}
                <input type="hidden" name="from" id="id_from" value={{ request.path|urlencode }}>
                <fieldset>
                    <div class="field text">
                        <label class="hidden" for="id_q">Search Text</label>
                        <input type="text" name="q" id="id_q" required aria-required="true"><button type="submit" name="search" class="action">Search</button>
                    </div>
                </fieldset>
            </form>
        {% endblock %}
    </div>
    <div id="utils">
        {% block extra-utilities %}{% endblock %}
        {% block secondary-nav-title%}{% endblock %}
    </div>
    {% block secondary-navigation %}{% endblock %}
{% endblock %}

{% block footer %}
    <a href="{% url home %}">home</a>
    <a href="{% url about %}">about us</a>
    <span class='copyright'>copyright &copy 2013 www.thetoytree.com</span>
    {% if user.is_staff %}<a href="{% url admin:index %}">admin</a>{% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include "base_site.js" %}
{% endblock %}