{% extends 'base_hd_ft.html' %}
{% load lazysignup_tags %}

{% load cart_tags %}

{% block header %}
    <div id="topbar">
        {% block topbar %}
            <img class="flag" src="{{ STATIC_URL }}icons/canada_flag_32.png">
            <span class="canadian">Proudly Canadian</span>
            <span class="contact">1-800-664-9741</span>
            <a class="account" href="{% url show_account %}">my account</a>
            {% if user.is_authenticated and not user|is_lazy_user %}
                <a class="logout" href="{% url logout %}">log out</a>
                <span class="welcome">Welcome, {{ user.first_name }}</span>
            {% else %}
                <a class="login" href="{% url login_or_create_account %}">log in</a>
            {% endif %}
        {% endblock %}
    </div>

    {% block banner %}
        <span class="sitename">arthurcode</span>
    {% endblock %}

    {% block cart-summary %}
        <div class="cart-summary">
            {% cart_summary request %}
        </div>
    {% endblock %}

    {% block navigation %}
        <ul id="primary-navigation">
            <li class="home"><a href="{% url home %}">Home</a></li>
            <li class="products"><a href="{% url catalogue_category '' %}">Products</a></li>
            <li class="about"><a href="{% url about %}">About Me</a></li>
            <li class="contact"><a href="{% url contact %}">Contact</a></li>
            <li class="blog"><a href="{% url index %}">Blog</a></li>
        </ul>
    {% endblock %}
{% endblock %}

{% block footer %}
    copyright &copy 2013 www.arthurcode.com
    {% if user.is_staff %}<a href="{% url admin:index %}">admin</a>{% endif %}
{% endblock %}