<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssbase/cssbase-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssfonts/cssfonts-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssgrids/cssgrids-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/gallery-2013.01.09-23-24/build/gallerycss-cssform/gallerycss-cssform.css">
    <link rel="stylesheet" href='http://yui.yahooapis.com/3.8.1/build/cssbutton/cssbutton.css'>
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css.css" />

    <script src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
    <title>{% block title %}{% if page_title %}{{ page_title }}{% endif %}{% endblock %} | {{ site_name }}</title>
    <meta name="description" content="{% firstof meta_description site_description %}" />
</head>
<body class="{% block body_class %}blog{% endblock %}">
{% block site_wrapper %} {% endblock %}
{% block javascript %}
    <script type="text/javascript">
        YUI().use('node', function(Y) {
            // initially hide elements with the 'hide-initially' class
            Y.all('.hide-initially').each(function(f) {
                f.addClass('hidden');
            });
        });
    </script>
{% endblock %}
</body>
</html>