<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/base/base-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/gallery-2013.01.09-23-24/build/gallerycss-cssform/gallerycss-cssform.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css.css" />

    <script src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block site_wrapper %} {% endblock %}
</body>
</html>