{% load comments i18n %}
{% load blog_extras %}

<form class="comment" action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
    {% for field in form %}
        {% if field.is_hidden %}
            <div>{{ field }}</div>
        {% else %}
            <div class="field{% if field.errors %} error{% endif %}"
                    {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                {% field_label_tag field %} {% aria_required_field field %}
            </div>
        {% endif %}
    {% endfor %}
    {% comment %} The parent field was added to support threaded comments {% endcomment %}
    {% if node.id %}
        <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}"/>
    {% endif %}
    <div class="controls">
        <button type="submit" name="post" class="submit-post yui3-button">Post</button>
        <button type="submit" name="preview" class="submit-preview yui3-button">Preview</button>
    </div>
</form>