{% extends "blog/base_blog.html" %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
    {% load comment %}

    {% if form.errors %}
        <h1>{% blocktrans count counter=form.errors|length %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
    {% else %}
        <h1>{% trans "Preview your comment" %}</h1>
        <blockquote>{{ comment|linebreaks }}</blockquote>
        <p>
            {% trans "and post your comment or make changes" %}:
        </p>
    {% endif %}
    {% include "comments/form_snippet.html" %}
{% endblock %}
