<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page={{ objects.previous_page_number }}">previous</a>
        {% else %}
            previous
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}">next</a>
        {% else %}
            next
        {% endif %}

        <span class="page-size">
            Items per page:
            {% if request.GET.pageSize != '16' and objects.paginator.per_page != 16 %}
                <a href="?pageSize=16">16</a>
            {% else %}
                16
            {% endif %}

            {% if request.GET.pageSize != '32' and objects.paginator.per_page != 32 %}
                <a href="?pageSize=32">32</a>
            {% else %}
                32
            {% endif %}

            {% if request.GET.pageSize != '64' and objects.paginator.per_page != 64 %}
                <a href="?pageSize=64">64</a>
            {% else %}
                64
            {% endif %}

            {% if request.GET.pageSize != 'All' %}
                <a href="?pageSize=All">All</a>
            {% else %}
                All
            {% endif %}
        </span>
    </span>
</div>