{% load extras %}

{% if objects.paginator.num_pages > 1 %}
    <div class="pagination">
        <span class="previous">
        {% if objects.has_previous %}
            <a href="{% query_string "page=objects.previous_page_number" %}"> < Previous</a>
        {% else %}
            < Previous
        {% endif %}
            | Page:
        </span>

        <ul class="pages">
            {% for page in objects.paginator.page_range %}
                <li{% if page == objects.number %} class="current"{% endif %}>
                    <a{% if page != objects.number %} href="{% query_string "page=page" %}"{% endif %}>{{ page }}</a>
                </li>
            {% endfor %}
        </ul>

        <span class="next">
            |
            {% if objects.has_next %}
                <a href="{% query_string "page=objects.next_page_number" %}">next ></a>
            {% else %}
                next >
            {% endif %}
        </span>
    </div>
{% endif %}