{% load extras %}

<div class="pagination">
    {% if objects.paginator.num_pages > 1 %}
        <span class="previous">
        {% if objects.has_previous %}
            <a href="{% add_get page=objects.previous_page_number %}"> < Previous</a>
        {% else %}
            < Previous
        {% endif %}
        | Page:
        </span>

        <ul class="pages">
            {% for page in objects.paginator.page_range %}
                <li{% if page == objects.number %} class="current"{% endif %}>
                    <a{% if page != objects.number %} href="{% add_get page=page %}"{% endif %}>{{ page }}</a>
                </li>
            {% endfor %}
        </ul>

        <span class="next">
            |
            {% if objects.has_next %}
                <a href="{% add_get page=objects.next_page_number %}">next ></a>
            {% else %}
                next >
            {% endif %}
        </span>
    {% endif %}
</div>