{% load ratings %}
{% load user_content %}

{% if avg_rating %}
    Average rating: {% rating avg_rating %} ({{ avg_rating|floatformat }} out of 5)<br>
    <a class="subtle standard" href="{% url create_product_review product.slug %}">write a review</a>
{% else %}
    <p class="subtle">Be the first to <a class="standard" href="{% url create_product_review product.slug %}">write a review</a></p>
{% endif %}

<ul>
    {% for review in reviews %}
        <li class="review">
            {% review review %}
        </li>
    {% endfor %}
</ul>