{% load ratings %}

<a id="{{ review.anchor }}"></a>
{% rating review.rating %}
<h4><a href="{{ review.get_absolute_url }}">{{ review.summary }}</a></h4>
<span class="metadata">
submitted by <span class="name">{{ review.name }}</span> on {{ review.last_modified|date:"M j, Y" }}
</span>
{% if review.review %}
    <p>{{ review.review }}</p>
{% endif %}
<div class="moderation">
    {% if request.user == review.user %}
        <a href="{% url product_review product.slug %}">edit</a>
    {% else %}
        <a>report as inappropriate</a>
    {% endif %}
</div>
