{% load ratings %}

<div class="reviews">
    <a id=reviews></a>
    <h3>Reviews ({{ reviews.count }})</h3>
    {% rating rating %}
    <a href="{% url product_review product.slug %}">write a review</a>
    <ul class>
        {% for review in reviews %}
            <li>
                <a id="{{ review.anchor }}"></a>
                {% rating review.rating %}
                <h4><a href="{{ review.get_absolute_url }}">{{ review.summary }}</a></h4>
                <span class="metadata">
                    submitted by <span class="name">{{ review.name }}</span> on {{ review.date|date:"M j, Y" }}
                </span>
                {% if review.review %}
                    <p>{{ review.review }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>