{% load ratings %}

<a id="{{ review.anchor }}"></a>
<div class="metadata">
    <span class="name">{% firstof review.user.public_name "anonymous user" %}</span>
    <span class="date">{{ review.last_modified|date:"M j, Y" }}</span>
    {% if review.user.public_name %}
        <span class="location">{{ review.user.public_profile.location }}</span>
        <span class="self-description">description: {{ review.user.public_profile.description }}</span>
    {% endif %}
</div>
<div class="content">
    {% rating review.rating %}
    <h4><a href="{{ review.get_absolute_url }}">{{ review.summary }}</a></h4>
    {% if review.review %}
        <p>{{ review.review }}</p>
    {% endif %}

    <div class="moderation">
        {% if request.user == review.user %}
            <form method="post" action="{{ review.get_edit_url }}">
                {% csrf_token %}
                <button class="link" type="submit" name="delete">delete</button>
            </form>
            <a href="{{ review.get_edit_url }}">edit</a>
        {% else %}
            <a>report as inappropriate</a>
        {% endif %}
    </div>
</div>


