{% extends "base_site.html" %}

{% block header %}
    {{ block.super }}
    {% spaceless %}
        <ul id="secondary-navigation" class="tabrow">
            <li><a href="does-not-exist">Featured</a></li>
            <li class="selected"><a href="{% url catalogue_category experiments %}">Experiments</a></li>
            <li><a href="{% url catalogue_category pretend_play %}">Pretend Play</a></li>
            <li><a href="{% url catalogue_category games %}">Games</a></li>
            <li><a href="{% url catalogue_category puzzles %}">Puzzles</a></li>
            <li><a href="{% url catalogue_category building_sets %}">Building Sets</a></li>
            <li><a href="{% url catalogue_category books %}">Books</a></li>
            <li><a href="{% url catalogue_category outdoor %}">Outdoor</a></li>
        </ul>
    {% endspaceless %}
{% endblock %}

{% block secondary-nav-title %}<h2>Product Categories</h2>{% endblock %}