{% extends "base_catalogue.html" %}
{% load extras %}
{% load urls %}
{% load catalogue_extras %}

{% block title %}{% if search_text %}Search Results{% elif category %}{{ category.name }}{% else %}All Products{% endif %}{% endblock %}

{% block root-category %}
    {% if parent_categories %}
        {{ parent_categories.0.slug }}
    {% elif category %}
        {{ category.slug }}
    {% endif %}
{% endblock %}

{% block body %}

    {% if search_text %}
        <div class="search">
            <h2>You Searched For: "{{ search_text }}"</h2>
            <a class="standard subtle" href="{% remove_search %}">(remove search)</a>
        </div>
    {% endif %}

    <div class="breadcrumbs">
        {% if products or parent_categories or category %}
            <a href="{% go_to_category "" %}">All Products</a>{% if parent_categories or category %} >{% endif %}
        {% endif %}
        {% if parent_categories %}
            {% for category in parent_categories %}
                <a href="{% go_to_category category.slug %}">{{ category.name }}</a> >
            {% endfor %}
        {% endif %}
        {% if category %}
            {{ category.name }}
        {% endif %}

        <div class="filters{% if not filters %} hidden{% endif %}">
            <h3>filters:</h3>
            <ul>
                {% for filter in filters %}
                    <li>| {{ filter }} <a href="{% remove_filter filter %}">(remove)</a></li>
                {% endfor %}
            </ul>
            {% if filters|length > 1 %}
                | <a href="{% remove_all_filters %}">(remove all filters)</a>
            {% endif %}
        </div>
    </div>

    <div class="positioning">
        <div class="refine">
            <h2 class="title-bar">Filter Results</h2>
            {% if child_categories %}
                <h3>By Category</h3>
                <ul>
                    {% for category in child_categories %}
                        <li><a href="{% go_to_category category.slug %}">{{ category.name }} ({{ category.product_count }})</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if brands %}
                <h3>By Brand</h3>
                <ul>
                    {% for brand in brands %}
                        <li{% if brand.active_filter %} class="selected"{% endif %}><a href="{% if brand.active_filter %}{% remove_filter brand %}{% else %}{% add_filter brand %}{% endif %}">{{ brand.name }} ({{ brand.product_count }})</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if themes %}
                <h3>By Theme</h3>
                <ul>
                    {% for theme in themes %}
                        <li{% if theme.active_filter %} class="selected"{% endif %}><a href="{% if theme.active_filter %}{% remove_filter theme %}{% else %}{% add_filter theme %}{% endif %}">{{ theme.name }} ({{ theme.product_count }})</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if prices %}
                <h3>By Price</h3>
                <ul>
                {% for price in prices %}
                    <li{% if price.active_filter %} class="selected"{% endif %}><a href="{% if price.active_filter %}{% remove_filter price %}{% else %}{% add_filter price %}{% endif %}">Under ${{ price.max_price}} ({{ price.product_count }})</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if features %}
                <h3>By Feature</h3>
                <ul>
                {% for feature in features %}
                    <li{% if feature.active_filter %} class="selected"{% endif %}><a href="{% if feature.active_filter %}{% remove_filter feature %}{% else %}{% add_filter feature %}{% endif %}">{{ feature }} ({{ feature.product_count }})</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="products">
            <div class="header">
                {% if search_text %}
                    <h2>Search Results</h2>
                {% elif category %}
                    <h2>{{ category.name }}</h2>
                {% else %}
                    <h2>All Products</h2>
                {% endif %}
                <span class="now-showing">({% if products %}{% if products.paginator.num_pages > 1 %}{{ products.start_index }}-{% endif %}{{ products.end_index }} of {{ products.paginator.count }}{% else %}0{% endif %})</span>


                <form class="page-size no-help" action="">
                    {% for key, value in request.GET.items %}
                        {% if key != "pageSize" %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                    <label>Items per page:
                        <select onchange="this.form.submit()" name="pageSize">
                            {% for size in page_sizes %}
                                <option{% if size == products.paginator.per_page %} selected{% endif %}>{{ size }}</option>
                            {% endfor %}
                            <option{% if showing_all_products %} selected{% endif %}>All</option>
                        </select>
                    </label>
                </form>

                <form class="sort-by no-help" action="">
                    {% for key, value in request.GET.items %}
                        {% if key != "sortBy" %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                    <label>Sort by:
                        <select onchange="this.form.submit()" name="sortBy">
                            {% for key,value in sorts %}
                                <option value="{{ key }}"{% if key == sort_key %} selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </form>
            </div>

            {% if products %}
                {% with products as objects %}{% include "_pagination.html" %}{% endwith %}
                {% for product in products %}
                    {% thumb product %}
                {% endfor %}
                {% with products as objects %}{% include "_pagination.html" %}{% endwith %}
            {% else %}
                <p>
                {% if search_text %}
                    <p>Sorry, no products matched your search</p>
                {% else %}
                    <p>No products to display</p>
                {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
