{% extends "base_catalogue.html" %}
{% load extras %}
{% load urls %}
{% load catalogue_extras %}

{% block title %}{% if search_text %}Search Results{% elif category %}{{ category.name }}{% else %}All Products{% endif %}{% endblock %}

{% block root-category %}
    {% if parent_categories %}
        {{ parent_categories.0.slug }}
    {% elif category %}
        {{ category.slug }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        {% if products or parent_categories or category %}
            <a href="{% go_to_category "" %}">All Products</a>{% if parent_categories or category %} >{% endif %}
        {% endif %}
        {% if parent_categories %}
            {% for category in parent_categories %}
                <a href="{% go_to_category category.slug %}">{{ category.name }}</a> >
            {% endfor %}
        {% endif %}
        {% if category %}
            {{ category.name }}
        {% endif %}

        {% if filters %}
            {% for filter in filters %}
                | {{ filter }} <a class="subtle standard" href="{% remove_filter filter %}">(remove)</a>
            {% endfor %}
            {% if filters|length > 1 %}
                | <a class="subtle standard" href="{% remove_all_filters %}">(remove all filters)</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="positioning">
        <div class="refine">
            {% if child_categories %}
                <h3>Subcategories</h3>
                <ul>
                    {% for category in child_categories %}
                        <li><a href="{% go_to_category category.slug %}">{{ category.name }} ({{ category.product_count }})</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if brands %}
                <h3>Shop By Brand</h3>
                <ul>
                    {% for brand in brands %}
                        <li{% if brand.active_filter %} class="selected"{% endif %}><a href="{% if brand.active_filter %}{% remove_filter brand %}{% else %}{% add_filter brand %}{% endif %}">{{ brand.name }} ({{ brand.product_count }})</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if themes %}
                <h3>Shop By Theme</h3>
                <ul>
                    {% for theme in themes %}
                        <li{% if theme.active_filter %} class="selected"{% endif %}><a href="{% if theme.active_filter %}{% remove_filter theme %}{% else %}{% add_filter theme %}{% endif %}">{{ theme.name }} ({{ theme.product_count }})</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if prices %}
                <h3>Shop By Price</h3>
                <ul>
                    {% for price in prices %}
                        <li{% if price.active_filter %} class="selected"{% endif %}><a href="{% if price.active_filter %}{% remove_filter price %}{% else %}{% add_filter price %}{% endif %}">Under ${{ price.max_price}} ({{ price.product_count }})</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if features %}
                <h3>Shop By Feature</h3>
                <ul>
                    {% for feature in features %}
                        <li{% if feature.active_filter %} class="selected"{% endif %}><a href="{% if feature.active_filter %}{% remove_filter feature %}{% else %}{% add_filter feature %}{% endif %}">{{ feature }} ({{ feature.product_count }})</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="products">
            <div class="title">
                <h2>{% if search_text %}Search Results | "{{ search_text }}"{% elif category %}{{ category.name }}{% else %}All Products{% endif %}</h2>
                <span class="now-showing">({% if products %}{% if products.paginator.num_pages > 1 %}{{ products.start_index }}-{% endif %}{{ products.end_index }} of {{ products.paginator.count }}{% else %}0{% endif %})</span>
                {% if search_text %}<a class="standard subtle" href="{% remove_search %}">(clear search)</a>{% endif %}
            </div>
            <div class="content">
                <div class="header">
                    <form class="page-size no-help" action="">
                        {% for key, value in request.GET.items %}
                            {% if key != "pageSize" %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                        <label>Page Size:
                            <select onchange="this.form.submit()" name="pageSize">
                                {% for size in page_sizes %}
                                    <option{% if size == products.paginator.per_page %} selected{% endif %}>{{ size }}</option>
                                {% endfor %}
                                <option{% if showing_all_products %} selected{% endif %}>All</option>
                            </select>
                        </label>
                    </form>

                    <form class="sort-by no-help" action="">
                        {% for key, value in request.GET.items %}
                            {% if key != "sortBy" %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                        <label>Sort by:
                            <select onchange="this.form.submit()" name="sortBy">
                                {% for key,value in sorts %}
                                    <option value="{{ key }}"{% if key == sort_key %} selected{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </form>

                    {% if products %}{% with products as objects %}{% include "_pagination.html" %}{% endwith %}{% endif %}
                </div>

                {% if products %}
                    <div class="thumbnails">
                        {% for product in products %}
                            {% thumb product %}
                        {% endfor %}
                    </div>
                {% else %}
                    {% if search_text %}
                        <p>Sorry, no products matched your search</p>
                    {% else %}
                        <p>No products to display</p>
                    {% endif %}
                {% endif %}
                <div class="bottom">
                    {% if products %}{% with products as objects %}{% include "_pagination.html" %}{% endwith %}{% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
