{% extends "base_catalogue.html" %}

{% block title %}{% if category %}{{ category.name }}{% else %}All Products{% endif %}{% endblock %}

{% block body_class %}products{% endblock %}

{% block root-category %}
    {% if parent_categories %}
        {{ parent_categories.0.slug }}
    {% elif category %}
        {{ category.slug }}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="breadcrumbs">
        {% if parent_categories %}
            {% for category in parent_categories %}
                <a href="{% url catalogue_category category.slug %}">{{ category.name }}</a> >
            {% endfor %}
            {{ category.name }}
        {% endif %}
    </div>

    <div class="positioning">
    <div class="refine">
    {% if child_categories %}
        {% if category %}
            <h2>Sub Categories</h2>
        {% else %}
            <h2>Categories</h2>
        {% endif %}
        <ul>
            {% for category in child_categories %}
                <li><a href="{% url catalogue_category category.slug %}">{{ category.name }} ({{ category.product_count }})</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="products">
        {% if category %}
            <h2>All {{ category.name }}</h2>
        {% else %}
            <h2>All Products</h2>
        {% endif %}

        {% with products as objects %}{% include "_pagination.html" %}{% endwith %}
        {% for product in products %}
            {% include "_thumbnail.html" %}
        {% endfor %}
        {% with products as objects %}{% include "_pagination.html" %}{% endwith %}
    </div>
    </div>
{% endblock %}
