{% extends "product_review.html" %}
{% load form_tags %}

{% block title %}Edit Your Review{% endblock %}


{% block main-header %}Edit Your Review{% endblock %}

{% block action-message %}
    <p>
        {% if edited %}
            Your review was successfully edited.
        {% elif created %}
            Your review was successfully created.
        {% endif %}
    </p>
{% endblock %}

{% block review-preview %}
    <h3>Your Current Review:</h3>
    <div class="review">
        {% include "_review.html" %}
    </div>
{% endblock %}

{% block form-class %}{% if not edit and not form.is_bound %}hide-initially{% endif %}{% endblock %}

{% block form-title %}Edit Your Review:{% endblock %}

{% block form-controls %}
    <button class="action" type="submit" name="delete">Delete Review</button>
    <button class="action" type="submit" name="submit">Save Changes</button>
{% endblock %}