{% extends "base_catalogue.html" %}

{% block root-category %}featured{% endblock %}
{% block title %}Featured Products{% endblock %}

{% block body %}
    <div class="quick-links">
        {% comment %}Shopping links that may be more interesting to customers than the main category links.{% endcomment %}
        <h2>Quick Links</h2>
        <ul class="quick-links">
            <li><a href="/products/?sortBy=new">New Products</a></li>
            <li><a>Gift Finder</a></li>
            <li><a>Gift Cards</a></li>
            <li><a>Award Winning Toys</a></li>
            <li><a>Shop By Theme</a></li>
            <li><a>Box Stuffers</a></li>
            <li><a>Eco Friendly Toys</a></li>
        </ul>
    </div>

    <div class="promotions">
        {% comment %}Sliding group of 2 or more advertisements {% endcomment %}
    </div>

    {% if featured_products %}
        <div class="featured">
            {% for product in featured_products %}
                {% include "_thumbnail.html" %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}