{% load catalogue_extras %}
{% load extras %}

<div class="post-add-to-container">
    <h2>{{ quantity }} Item{{ quantity|pluralize }} Added to {% block container-name %}Cart{% endblock %} <img src="{{ STATIC_URL }}icons/tick.png"></h2>
    {% block thumb %}{% thumb instance.product instance.get_best_image %}{% endblock %}
    <p class="container-summary">{% block container-summary %}Cart Subtotal: {{ subtotal|currency }} ({{ items_in_cart }} item{{ items_in_cart|pluralize }}){% endblock %}</p>
    <div class="controls">
    <a class="button action close-panel"><span>{% block close-panel %}Continue Shopping{% endblock %}</span></a>
    <a class="button action go-to-container" href="{% block go-to-container-url %}{% url show_cart %}{% endblock %}"><span>{% block go-to-container %}Checkout{% endblock %}</span></a>
    </div>
</div>