{% extends "base_catalogue.html" %}
{% load form_tags %}
{% load ratings %}

{% block title %}Write A Review{% endblock %}

{% block body_class %}reviewing{% endblock %}

{% block body %}
    <h2>{% block main-header %}Write a Review{% endblock %}: {{ product.name }}</h2>

    <div class="left-col subtle">
        <a href="{% url catalogue_product product.slug %}"><img src="{{ STATIC_URL }}products/example.jpg"></a>
        {% with product.get_rating as rating %}
            {% if rating %}
                Average rating: {% rating rating %} ({{ rating|floatformat }} out of 5)
            {% else %}
                {% rating rating %} (this product has not yet been rated)
            {% endif %}
        {% endwith %}
    </div>

    <div class="right-col">
        {% block right-col %}
            {% block action-message %}
                <p>{% if deleted %}Your review was successfully deleted.{% endif %}</p>
            {% endblock %}

            {% block review-preview %}{% endblock %}

            {% form_errors form %}
            <form class="review {% block form-class %}{% endblock %}" method="post" action="">
                {% csrf_token %}
                {% field form.rating %}
                {% field form.summary %}
                {% field form.review %}
                <div class="controls">
                    {% block form-controls %}<button class="action" type="submit" name="submit">Submit Review</button>{% endblock %}
                </div>
            </form>
        {% endblock %}
    </div>

    {% if needing_review %}
        <div class="needing-review">
            <h3>Other Products Awaiting Your Review</h3>
            <ul>
                {% for to_review in needing_review %}
                    <li>
                        <div>
                            <img src="{{ STATIC_URL }}products/example.jpg"/>
                            <a href="{% url create_product_review product.slug %}">{{ product.name }}</a>
                            <a class="action" href="{% url create_product_review product.slug %}">Review</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}