{% extends "base_catalogue.html" %}
{% load form_tags %}
{% load ratings %}

{% block title %}Write A Review{% endblock %}

{% block body_class %}reviewing{% endblock %}

{% block body %}
    <h1>{% block main-header %}Write a Review{% endblock %}</h1>
    <h2>{{ product.name }}</h2>

    <div class="left-col">
        <a href="{% url catalogue_product product.slug %}"><img src="{{ STATIC_URL }}products/example.jpg"></a>
        {% with product.get_rating as rating %}
            {% if rating %}
                Average rating: {% rating rating %} ({{ rating|floatformat }} out of 5)
            {% else %}
                {% rating rating %} (this product has not yet been rated)
            {% endif %}
        {% endwith %}
    </div>

    <div class="right-col">
        {% block right-col %}
            {% if deleted %}
                <p>Your review was successfully deleted.</p>
            {% endif %}

            {% form_errors form %}
            <form method="post" action="">
                <legend>{% block form-title %}Write Your Review{% endblock %}</legend>
                {% csrf_token %}
                {% field form.name %}
                {% field form.rating %}
                {% field form.summary %}
                {% field form.review %}
                <div class="controls">
                    {% block form-controls %}<button class="action" type="submit" name="submit">Submit Review</button>{% endblock %}
                </div>
            </form>
        {% endblock %}
    </div>
{% endblock %}