{% extends "base_catalogue.html" %}

{% load extras %}
{% load urls %}
{% load form_tags %}
{% load ratings %}

{% block title %}{{ product.name }}{% endblock %}

{% if breadcrumbs %}{% block root-category %}{{ breadcrumbs.0.slug }}{% endblock %}{% endif %}

{% block body %}
    <div class="breadcrumbs">
        <a href="{% go_to_category '' %}">All Products</a> >
        {% for crumb in breadcrumbs %}
            <a href="{% go_to_category crumb.slug %}">{{ crumb.name }}</a> >
        {% endfor %}
        {{ product.name }}
    </div>

    <div class="product-detail">
        <div class="visual">
            <div id="primary-img">
                {% if images %}
                    <a href="{{ STATIC_URL }}{{ images.0.detail_path }}"><img src="{{ STATIC_URL }}{{ images.0.path }}" alt="{{ images.0.alt_text }}"></a>
                    <p>click on picture for a larger view</p>
                {% else %}
                    <img src="{{ STATIC_URL }}products/no_image_available.png" alt="no image available">
                {% endif %}
            </div>
            {% if images|length > 1 %}
                <div class="other-views">
                    {% for image in images %}
                        <a href="{{ STATIC_URL }}{{ image.detail_path }}"><img id="image-{{ image.id }}" alt="{{ image.alt_text }}" style="visibility:hidden"></a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="description">
            <h1>{{ product.name }}</h1>
            {% rating avg_rating %}
            {% if avg_rating %}
                ({{ reviews.count }} <a class="tabview" href="#reviews">review{{ reviews.count|pluralize:",s" }}</a>)
            {% else %}
                <a href="{% url product_review product.slug %}">(be the first to write a review)</a>
            {% endif %}
            {% if product.quantity <= 0 %}
                <span class="out-of-stock">Out Of Stock</span>
            {% endif %}

            <div class="price">
                {% if product.sale_price %}
                    Was: <span class="old-price">{{ product.price|currency }}</span>
                    Now: <span class="sale-price">{{ product.sale_price|currency }}</span>
                {% else %}
                    <span class="price">{{ product.price|currency }}</span>
                {% endif %}
            </div>
            <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-send="true" data-width="450" data-show-faces="false" data-font="arial"></div>

            <div class="tabview">
                <ul class="tabrow">
                    <li id="description" class="tab selected"><a class="tabview" href="#description">Description</a></li>
                    <li id="specs" class="tab"><a class="tabview" href="#specs">Specifications</a></li>
                </ul>
                <div class="views">
                    <div class="view" id="description">
                        {% autoescape off %}
                            <div class="text">{{ product.long_description }}</div>
                        {% endautoescape %}
                    </div>
                    <div id="specs" class="view hide-initially">
                        TODO
                    </div>
                </div>
            </div>

            <div class="add-to-cart">
                {% form_errors form %}
                {% if product.quantity > 0 %}
                    <form method="post" action="{% url catalogue_product product.slug %}" class="add-to-cart">
                        {% csrf_token %}
                        {% field_label_tag form.quantity %}{% aria_required_field form.quantity %}
                        {{ form.product_slug }}
                        <button type="submit" name="submit" class="action">Add to Cart</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="feedback" class="tabview">
        <ul class="tabrow">
            <li class="tab selected" id="reviews"><a class="tabview" href="#reviews">Reviews ({{ reviews.count }})</a></li>
            <li class="tab" id="qa"><a class="tabview" href="#qa">Q & A</a></li>
        </ul>
        <div class="views">
            <div class="view" id="reviews">{% include "_reviews.html" %}</div>
            <div class="view hide-initially" id="qa">{% include "_questions.html" %}</div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        YUI().use('event', 'panel', 'imageloader', function(Y) {

            // lazy loading of product's images (except for the first, primary image)
            var imageGroup = new Y.ImgLoadGroup({foldDistance: 30});
            // iterate over every image, and register the image-{id} div with the appropriate source image
            {% for image in images %}
                imageGroup.registerImage({
                    domId: "image-" + "{{ image.id }}",
                    srcUrl: "{{ STATIC_URL }}{{ image.path }}",
                    setVisible: true
                });
            {% endfor %}


            // configure image selector
            var images = Y.all('div.other-views img');
            images.each(function(image) {
               image.on("click", function(e) {
                  e.preventDefault();
                  var src = image.get('src');
                  var alt = image.get('alt');
                  var primary_image = Y.one('#primary-img img');
                  if (primary_image) {
                      primary_image.set('src', src);
                      primary_image.set('alt', alt);
                      var primary_link = primary_image.ancestor('a');
                      var clicked_link = image.ancestor('a');
                      if (primary_link && clicked_link) {
                          primary_link.set('href', clicked_link.get('href'));
                      }
                  }
               });
            });

            // load a high resolution image in a panel when the primary image is clicked
            var primary_image = Y.one('#primary-img img');
            if (primary_image) {
                primary_image.on("click", function(e) {
                    var parent_link = primary_image.ancestor('a');
                    if (parent_link) {
                        // default behaviour is to link to the high-res image in a new window
                        e.preventDefault();
                        var detail_src = parent_link.get('href');
                        var bodyContent = '<img src="' + detail_src + '">';
                        var panel = new Y.Panel({
                            headerContent: "{{ product.name }}",
                            bodyContent: bodyContent,
                            centered: true,
                            zIndex: 100,
                            modal: true,
                            render: true
                        });
                    }
                });
            }
        });
    </script>
{% endblock %}